<a href="https://colab.research.google.com/github/dpcks/playdata/blob/main/02_%EC%BB%AC%EB%A0%89%EC%85%98_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수와 메소드
## 함수 
- 코드의 반복을 줄이거나 어떠한 기능을 하기 위해 특정 코드를 모아둔것
$$
f(x) = 2x
$$
## 메소드
- 객체(값)에 소속되어 있는 함수

In [ ]:
s = "ABCD"

len(s) #시퀀스 자료형의 길이를 반환하는 함수

4

In [ ]:
s.lower() #대문자를 소문자로 바꿔주는 함수 (메소드)

'abcd'

# 컬렉션 자료형(Collection data type)
- 여러가지 요소를 하나로 묶어서 담을 수 있는 데이터 타입
    - 문법적인 요소들 빼고 다 담을 수 있다.
    - 객체, 변수, 함수 ,클래스.......등 담을 수 있다.
    - `list, set, dict ,tuple`

# 자료형의 특징
- Sequence 자료형
    - 열거 되어있다. 연속 되어있다.
    - 순서가 있다. 순번(index)도 있다.
- mutable 자료형
    - 수정 가능한 객체(값)
    - 컬렉션 자료형: `list, set, dict`
-immutable 자료형
    - 수정 불가능한 객체
    - `int, float, str, bool, tuple`(컬렉션 타입)

## list
- Sequence 자료형
- mutable 자료형
    - 변경 가능
- 중복 데이터 저장이 가능
- '[ ]' 를 이용해서 만들 수 있다.

In [ ]:
lst = []
lst

[]

In [ ]:
lst = [1,2,3,3,"four", None, 7.0, True]
lst

[1, 2, 3, 3, 'four', None, 7.0, True]

In [ ]:
type(lst)

list

In [ ]:
len(lst)

8

In [ ]:
lst = [1,2,3,[1,2]]
len(lst)

4

In [ ]:
lst = [11, 200, 7, 9, 10]
sorted(lst)    #정렬한 값을 반환

[7, 9, 10, 11, 200]

In [ ]:
max(lst)

200

In [ ]:
min(lst)

7

In [ ]:
sum(lst)

237

In [ ]:
sum(lst)/len(lst)

47.4

## 시퀀스 다루기
- Sequence는 순번이 있다.
    - 순번을 index 라고 한다.
- 파이썬의 인덱스는 두종류가 있다.
    - 양수 인덱스
        - 0부터 시작한다.
        - 왼쪽에서 오른쪽으로 1씩 증가
    - 음수 인덱스
        - -1 부터 시작한다.
        - 오른쪽에서 왼쪽으로 1씩 감소
- 인덱스는 무조건 정수!!

In [ ]:
lst = [1,2,3,3,"four", None, 7.0, True]
lst

[1, 2, 3, 3, 'four', None, 7.0, True]

In [ ]:
lst[0]

1

In [ ]:
lst[4] # 0부터 시작이므로 다섯번째 값 추출

'four'

In [ ]:
lst[-2]

7.0

In [ ]:
lst[-1]

True

## 슬라이싱(Slicing)
- 인덱스를 사용해서 시퀀스를 잘라낸다.
- 시퀀스에서 특정 범위를 가리킨다.
- `[start:end:step]`
    - `start ~ end-1` 부분을 step만큼 건너 뛰면서 잘라낸다.

In [ ]:
lst=["a", "b","c","d","e","f","g"]
lst

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
lst[0:3]

['a', 'b', 'c']

In [ ]:
lst[2:4]

['c', 'd']

In [ ]:
lst[-3:-1]

['e', 'f']

- `start, end, step` 생략이 가능하다.
- `start`를 생략하면 자동으로 `0` 이 가능하다.
- `end`를 생략하면 자동으로 시퀀스의 길이(len)가 들어간다.

In [ ]:
lst[:] #lst[0:len(lst)]

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
lst[]

SyntaxError: ignored

In [ ]:
lst[3:]

['d', 'e', 'f', 'g']

In [ ]:
lst[:5]

['a', 'b', 'c', 'd', 'e']

In [ ]:
lst[-5:]

['c', 'd', 'e', 'f', 'g']

In [ ]:
lst[:-1]

['a', 'b', 'c', 'd', 'e', 'f']

- step
    - 지정한 범위에서 `step` 만큼 건너뛰면서 슬라이싱
    - 'step'을 생략하면 기본적으로 1이 주어진다.

In [ ]:
lst[::]

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
lst[0:len(lst):1] # 위와 같은 의미

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
lst[0:len(lst):2]

['a', 'c', 'e', 'g']

- `step` 부분을 양수, 음수를 이용해서 방향 설정 가능
    - 양수: 정방향(왼쪽에서 오른쪽)
    - 음수: 역방향(오른쪽에서 왼쪽)

In [ ]:
lst[::-2]

['g', 'e', 'c', 'a']

In [ ]:
lst[::-1]

['g', 'f', 'e', 'd', 'c', 'b', 'a']

In [ ]:
lst = [10,20,30,40,50,60,70]
lst

[10, 20, 30, 40, 50, 60, 70]

In [ ]:
lst[3:4:1]

[40]

In [ ]:
lst[-1:-5:-1]

[70, 60, 50, 40]

In [ ]:
lst[-2:-6:-1]

[60, 50, 40, 30]

In [ ]:
lst[5:1:-1]

[60, 50, 40, 30]

In [ ]:
num_list = [2,3,4,5,6,7,8,9,10,11,12,13,14,15]
num_list

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [ ]:
num_list[1:-6:3] # 10보다 작은 3의 배수만 오름차순으로 슬라이싱 하시오.

[3, 6, 9]

## 리스트는 변경가능하다.

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst[1] = 10000
lst

[1, 10000, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
lst[:1] = 3 # 슬라이싱 해서 리스트가 반환 됐기 때문에 단일값 대입시 에러가 난다.

TypeError: ignored

# 길이가 달라도 리스트에 리스트를 담는것은 가능하다.

In [ ]:
lst[1:] = [3] # 길이가 달라도 리스트에 리스트를 담는것은 가능하다.

In [ ]:
lst[1:] = [1001, 1002, 1003, 1004 ]
lst

[1, 1001, 1002, 1003, 1004]

In [ ]:
lst = [1,2,3,4,5,6,7,8,9,10]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# step을 2이상 넣어 연속적인 공간이 아닌 리스트가 슬라이싱 되면 수정이 안된다.

In [ ]:
lst[1::2] = [0]

ValueError: ignored

## `list` 의 메소드

- `append()`
    - 리스트의 제일 뒤에 값을 추가

In [ ]:
lst = [1, 2, 3, 4]
lst.append(0)
lst

[1, 2, 3, 4, 0]

In [ ]:
sorted(lst) #함수

[0, 1, 2, 3, 4]

In [ ]:
lst.sort() #메소드
lst

[0, 1, 2, 3, 4]

- pop()
    - 제일 뒤에 있는 데이터를 꺼내고 삭제
    - 인덱스 값을 줄 경우 해당 인덱스 값을 꺼내고 삭제

In [ ]:
lst

[0, 1, 2, 3, 4]

In [ ]:
print(lst.pop())
print(lst)

print(lst.pop())
print(lst)

4
[0, 1, 2, 3]
3
[0, 1, 2]

In [ ]:
lst.pop(1)
lst

[0, 2]

- `extend()`
    - 리스트와 리스트를 합친다

In [ ]:
lst = [1,2,3]
lst.extend([4,5,6])
lst

[1, 2, 3, 4, 5, 6]

In [ ]:
lst = [1,2,3]
lst.append([4,5,6])
lst

[1, 2, 3, [4, 5, 6]]

- insert()
    - 인덱스 위치에 값을 추가한다.

In [ ]:
lst = [1,2,3]
lst.insert(0,9)
lst

[9, 1, 2, 3]

- remove()
    - 리스트에서 값을 찾아 삭제한다.

In [ ]:
lst = [10,20,30]
lst.remove(20)
lst

[10, 30]

- `del` 
 - del 키워드를 사용하면 된다.
 - 리스트에 경우 특정 인덱스 값을 삭제

In [ ]:
lst = [10,20,30]
del lst [1]
lst

[10, 30]

In [ ]:
a = 1004
del a
a

NameError: ignored

In [ ]:
#다음의 리스트에서 앞에서 부터 하나씩 꺼내 값을 출력하면서 모든 값을 꺼내시오. pop메소드
lst = [1,2,3,4]
print(lst.pop(0))
print(lst)

print(lst.pop(0))
print(lst)

print(lst.pop(0))
print(lst)

print(lst.pop(0))
print(lst)

1
[2, 3, 4]
2
[3, 4]
3
[4]
4
[]

In [ ]:
#다음의 리스트에서 2의 배수만 내림차순으로 슬라이싱 하시오.
num_list = [2,3,4,5,6,7,8,9,10,11,12,13,14,15]
num_list [-2::-2]

[14, 12, 10, 8, 6, 4, 2]

In [ ]:
#다음의 리스트에서 sort 메소드와 인덱싱만을 이용하여 최대값과 최소값을 구하시오.
num_list = [6,7,8,9,11,12,13,14,15,2,3,4,5]
num_list.sort()
num_list
num_list[-1::-12]

[15, 2]

## 연산자를 이용한 리스트를 조작해보자

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

In [ ]:
list1 + list2 #extend보다 빠름

[1, 2, 3, 4, 5, 6]

In [ ]:
list1 + [2] #append보다 느림

[1, 2, 3, 2]

하나의 요소를 추가할때는 `append` 메소드가 더 빠르고 리스트 끼리 합칠때는 `+`(더하기 기호)가 조금 더빠르다.

In [ ]:
list1 * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
list1 #원본 데이터의 수정 x

[1, 2, 3]

In [ ]:
2 in list1

True

In [ ]:
1004 not in list1

True

In [ ]:
list1 == [1, 2, 3] # 각 인덱스 위체에 맞는 요소의 값을 검사한다.

True

In [ ]:
list1 != [1, 2, 3]

False

## is 연산자와 is not 연산자
- 같은 객체인지 아닌지 검사한다.

In [ ]:
lst = [1, 2, 3]

lst is [1, 2, 3]  #is 는 주소만 검사

False

In [ ]:
tmp = lst

In [ ]:
tmp is lst

True

In [ ]:
tmp is not lst

False

어떠한 연산결과로 나온 변수의 값을 `True` 인지 False인지와 None 값을 체크할때 주로 `is` 와 `is not` 연산자를 사용한다.

In [ ]:
is_num = True
is_num is True

True

In [ ]:
data_list = None
data_list is not None

False

In [ ]:
a =1 
b =1
id(a) , id(b)

(11256064, 11256064)

# tuple
- Sequence 자료형
- Immutable 자료형
- 중복데이터 저장이 가능
- `()` 를 활용해서 만들수 있다. (소괄호 생략가능)

In [ ]:
tuples = ()
tuples

()

In [ ]:
tuples = "h" , "e" ,"l", "l", "o"
tuples

('h', 'e', 'l', 'l', 'o')

In [ ]:
a = 1
b = 2
a,b

(1, 2)

In [ ]:
type(tuples)

tuple

- 프로그램에서 실행되는 동안 튜플은 안에있는 요소들이 변경이 일어나면 안되는 경우 사용
- 리스트보다 메모리를 적게 차지하고, 속도가 더 빠르다!

In [ ]:
tuples[::-1]

('o', 'l', 'l', 'e', 'h')

In [ ]:
tuples[0] = "j"

TypeError: ignored

In [ ]:
tuples.count("l") # 인자로 넣은 값이 몇개 있는 지 반환해준다.

2

In [ ]:
tuples.count(10)

0

In [ ]:
tuples + tuples

('h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o')

In [ ]:
tuples * 3

('h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o', 'h', 'e', 'l', 'l', 'o')

- 슬라이싱 복습
    - 다음의 튜플에서 슬라이싱을 활용하여 짝수만 출력해보자.

In [ ]:
num_tuple = (1,2,3,4,5,6,7,8,9,10)
num_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
num_tuple [1::2]

(2, 4, 6, 8, 10)

In [ ]:
num_tuple [-1::-2] # 짝수를 역순으로 출력

(10, 8, 6, 4, 2)

- 함수를 복습해봅시다.
    - num_tuple의 최대값, 최소값, 합계, 튜플안에 요소개수를 출력해보자

In [ ]:
max(num_tuple) , min(num_tuple) , sum(num_tuple) , len(num_tuple)

(10, 1, 55, 10)

# `set`
- Non-Sequence 자료형
- 데이터의 저장의 순서를 보장하지 않는다.
    - 인덱싱과 슬라이싱 지원하지 않는다.
- mutable 자료형 (수정가능)
- 중요한 특징으로 중복 데이터를 저장 허용 X
- `{}` 중괄호를 이용해서 만들 수 있다.

In [ ]:
sets = set()
type(sets)

set

In [ ]:
sets = {1001,1001,1001,1001,1001,1004,1004,1004,1004,11,22,56,100}
sets

{11, 22, 56, 100, 1001, 1004}

In [ ]:
sets[0] #인덱싱 지원 x

TypeError: ignored

`in` 연산자와 `not in `연산자 지원된다.
더하기나 곱하기 연산자는 지원하지 않는다. (의미가 없기 때문)

- set객체의 메소드

In [ ]:
A = {1,2,3}
B = {2,3,4}
A,B

({1, 2, 3}, {2, 3, 4})

In [ ]:
A.intersection(B)  # 교집합

{2, 3}

In [ ]:
A.union(B) # 합집합

{1, 2, 3, 4}

In [ ]:
A.difference(B) # 차집합

{1}

- 수정가능하다.

In [ ]:
a = {1,2,3}
a.add(100)     # 하나의 값을 추가하고 싶을때
a

{1, 2, 3, 100}

In [ ]:
a.update([1,2,3,4,5,6,7,8,9,10]) # 여러값들을 추가하고 싶을때
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100}

In [ ]:
a.remove(100) # 특정 값을 제거 하고 싶을때
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# `dict`(Dictionary)
- Non-Sequence 자료형
- mutable 자료형
- key-value 구조로 되어있다.
- key 중복 X
- value 중복 O
```python
{
    key: value,
    key: value,
    ...
}
```

In [ ]:
city = {}
type(city)

dict

In [ ]:
city = {
    "한국" : "부산",
    "일본" : "쿄토",
    "캐나다" : "오타와"
}
city

{'일본': '쿄토', '캐나다': '오타와', '한국': '부산'}

In [ ]:
city["한국"]

'부산'

In [ ]:
city["중국"] # 없는 key의 value 를 가져오로할떄는 에러 발생!

KeyError: ignored

In [ ]:
city.get("중국") # 에러가 안난다.

In [ ]:
city.get("중국", "없음") # 중국이라는 키가 없을경우 없음이라는 문자열로 반환해라

'없음'

In [ ]:
city["중국"] = "베이징" # 중국 키가 없으니 key와 value가 추가된다.
city

{'일본': '쿄토', '중국': '베이징', '캐나다': '오타와', '한국': '부산'}

In [ ]:
city["일본"] = "도쿄" # key가 있어서 해당 key에 해당되는 value가 수정된다.
city

{'일본': '도쿄', '중국': '베이징', '캐나다': '오타와', '한국': '부산'}

In [ ]:
add_city = {"중국" : "상하이", "미국" : "워싱턴"}
city.update(add_city)  # update 함수는 여러개의 key와 value를 수정하거나 추가하고 싶을때 사용
city

{'미국': '워싱턴', '일본': '도쿄', '중국': '상하이', '캐나다': '오타와', '한국': '부산'}

In [ ]:
del city["일본"] # key가 "일본"인 key와 value 쌍을 삭제하겠다.
city

{'미국': '워싱턴', '중국': '상하이', '캐나다': '오타와', '한국': '부산'}

In [ ]:
print(city.pop("중국")) # 삭제를 하고자하는 key를 넣어서 삭제할수 있다. 해당 key의 value가 반환된다.
city

상하이

{'미국': '워싱턴', '캐나다': '오타와', '한국': '부산'}

In [ ]:
city.keys() # dict 내의 전체 키를 확인 할 수 있다.

dict_keys(['한국', '캐나다', '미국'])

In [ ]:
city.values() # dict 내의 전체 value를 확인 할 수 있다.

dict_values(['부산', '오타와', '워싱턴'])

In [ ]:
city.items() # dict 내의 전체 key,  value를 확인할수 있다.

dict_items([('한국', '부산'), ('캐나다', '오타와'), ('미국', '워싱턴')])

In [ ]:
"한국" in city.keys()

True

In [ ]:
num_dict = {
    0:"제로",
    3.14: "원주율",
    True: "참"
}
num_dict[0]

'제로'

In [ ]:
num_dict[3.14]

'원주율'

In [ ]:
num_dict[True]

'참'

In [ ]:
info_dict = {
    "name" : "이예찬",
    "age" : 25,
    "score" : [100,100,100,100,100],
    "etc" : {
        "my_dream" : "hacker"
    }
}
info_dict

{'age': 25,
 'etc': {'my_dream': 'hacker'},
 'name': '이예찬',
 'score': [100, 100, 100, 100, 100]}

In [ ]:
num_dict = {
    "mean" : 80,
    "std" : 3.5,
}
num_dict

{'mean': 80, 'std': 3.5}

mean의 키를 avg 라는 키로 변경해라. pop 메소드를 이용하시면 된다.

In [ ]:
num_dict["avg"] = num_dict.pop("mean")
num_dict

{'avg': 80, 'std': 3.5}

# 컬렉션 자료형 변환

- `list` -> tuple

In [ ]:
lst = [1,2,3]
tuple(lst)

(1, 2, 3)

- `tuple` -> list

In [ ]:
tup = 1,2,3
list(tup)

[1, 2, 3]

- `set` -> `list`

In [ ]:
sets = {"Apple", "Banana", "Mango"}
list(sets)

['Apple', 'Banana', 'Mango']

- `dict`-> `list`
    - key 가 리스트로 반환된다.

In [ ]:
city = {
    "한국" : "서울",
    "일본" : "도쿄",
    "미국" : "워싱턴"
}
list(city)

['한국', '일본', '미국']

In [ ]:
list(city.keys())

['한국', '일본', '미국']

In [ ]:
list(city.values())

['서울', '도쿄', '워싱턴']

In [ ]:
city.items()

dict_items([('한국', '서울'), ('일본', '도쿄'), ('미국', '워싱턴')])

In [ ]:
tup_list = list(city.items())
tup_list

[('한국', '서울'), ('일본', '도쿄'), ('미국', '워싱턴')]

In [ ]:
dict(tup_list)

{'미국': '워싱턴', '일본': '도쿄', '한국': '서울'}

In [ ]:
text = "hello" 
list(text)      # 문자열에 각 문자가 리스트에 하나의 요소로 들어간다.

['h', 'e', 'l', 'l', 'o']

In [ ]:
# text의 문자열이 어떠한 알파벳으로 구성되어있을까?
set(text)

{'e', 'h', 'l', 'o'}