<a href="https://colab.research.google.com/github/dpcks/playdata/blob/main/05_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수 (Function)
- 코드의 반복을 줄이거나 어떠한 용도를 위해 코드를 모아둔 것
- 어떠한 결과를 만들어내는 코드의 집합
- (재사용할) 코드 묶음

In [ ]:
num_list = [80, 90, 71,60,55,86] #몸무게 열

avg = sum(num_list)/len(num_list)

deviation_list = []# 편차를 담을 리스트

for num in num_list:
    deviation = avg - num
    deviation_list.append(deviation**2)

var = sum(deviation_list) / len(deviation_list)
var ** 0.5

12.918548250050733

In [ ]:
num_list = [180, 175,164,155,170]

avg = sum(num_list)/len(num_list)

deviation_list = []# 편차를 담을 리스트

for num in num_list:
    deviation = avg - num
    deviation_list.append(deviation**2)

var = sum(deviation_list) / len(deviation_list)
var ** 0.5

8.704022058795578

## 함수 정의 방법
```python
def <function_name>(parameter1,parameter2, ...):
    code context
```

In [ ]:
def get_std(num_list):
    avg = sum(num_list)/len(num_list)

    deviation_list = []# 편차를 담을 리스트

    for num in num_list:
        deviation = avg - num
        deviation_list.append(deviation**2)

    var = sum(deviation_list) / len(deviation_list)
    return var ** 0.5

In [ ]:
num_list = [23,5324,3234,332,12]
get_std(num_list)

2143.9917910290606

## 함수를 정의할때의 형태는 4가지가 있다.

- 파라미터 X, 리턴 X

In [ ]:
def do_func_type1():
    print("파라미터X, 리턴X")
do_func_type1()

파라미터X, 리턴X

In [ ]:
a = print(1,2,3)
print(a)

1 2 3
None

-  파라미터O ,리턴 X

In [ ]:
def do_func_type2(num1,num2):
    if num1>num2:
        print("BIG")
    else:
        print("SMALL")
do_func_type2(2,3)

SMALL

- 파라미터 X , 리턴 O

In [ ]:
def do_func_type3():
    lst = list(range(1,101,2))
    return sum(lst)
do_func_type3()

2500

- 파라미터 O, 리턴 O

In [ ]:
def do_func_type4(num1,num2):
    return num1+num2
do_func_type4(10,20)

30

## 함수를 정의할때 명명 규칙에 대한 관례
- 함수이름은 동사로 시작하며, 어떠한 기능을 추측할수 있게한다.
- 함수이름은 소문자로 작성하며, snake case 따른다.(ex, add_number)

```
리스트를 아규먼트(인자)로 받아서 짝수만 출력하는 함수를 만들어 보세요.
```

In [ ]:
def print_even(lst):
    for i in lst:
        if i % 2==0:
            print(i)

In [ ]:
print_even(list(range(1,10)))

2
4
6
8

In [ ]:
num_list = [10,20,1]

In [ ]:
def even_number(lst):
    for i in lst:
        if i % 2 == 0:
            print(i)

In [ ]:
even_number(num_list)

10
20

```
두개의 숫자를 입력받고, 세번째 인자로 plus,minus,multiply,divide 중에 입력을 받아 덧셈,뺄셈,곱하기,나누기 중에 결과를 반환하는 함수를 만드시오.
```

In [ ]:
def calculate(n1,n2,act):

    if act == "plus":
        result = n1 + n2
    elif act == "minus":
        result = n1 - n2
    elif act == "multiply":
        result == n1 * n2
    else:
        result = n1 / n2 if n2 else 0
    return result
calculate(10,0,"divide")

0

- 이메일이 담긴 리스트를 인자로 받아 아이디만 추출해서 다시 새로운 리스트에 담아 해당 리스트를 반환하는 함수를 만들어주세요.
```
email_list = ["user1004@gmail.com","user22@naver.com","user30@gmail.com","user100@hanmail.net"]
```

In [ ]:
email_list = ["user1004@gmail.com","user22@naver.com","user30@gmail.com","user100@hanmail.net"]

def id(email_list):
    tmp = []
    for email in email_list:
        email.split("@")[0]
        tmp.append(email)
    return tmp

In [ ]:
def email2id(email_list):
    return [email.split("@")[0] for email in email_list]
email2id(email_list)

['user1004', 'user22', 'user30', 'user100']

```
리스트를 인자로 받아 Min-Max Scaling 적용하여
리스트로 반환하는 함수를 만드시오
```

In [ ]:
def scale_minmax(lst):
    minmax = []
    min_value = min(lst)
    size_value = max(lst)-min_value
    
    for x in lst:
        x = (x-min_value) / size_value
        minmax.append(x)

    return minmax
scale_minmax(lst)

[0.19642857142857142,
 0.24107142857142858,
 0.2857142857142857,
 0.7321428571428571,
 0.0,
 1.0]

In [ ]:
lst = [3000,3500,4000,9000,800,12000]
scale_minmax(lst)

[0.19642857142857142,
 0.24107142857142858,
 0.2857142857142857,
 0.7321428571428571,
 0.0,
 1.0]

In [ ]:
def scale_minmax(lst):
    min_value = min(lst)
    size_value = max(lst)-min_value
    return [(x-min_value) / size_value for x in lst]

```
리스트를 인자로 받아 평균을 구하는 함수와 표준편차를 구하는 함수를 각각 구현하세요.
```

In [ ]:
score1 = [100,80,62]
score2 = [90,81,70]

def get_avg(lst):
    avg = sum(lst) / len(lst)
    return avg
def get_std(lst):
    avg = get_avg(lst)
    diff_list = [(avg - i) ** 2 for i in lst]
    var = sum(diff_list) / len(diff_list)
    return var **0.5

In [ ]:
    get_avg(score1) , get_std(score1)

(80.66666666666667, 15.520595635763755)

## 변수의 사용범위(Scope)
- 지역변수(local): 함수 내부에서 만들어진 지역변수는 함수 내에서만 사용가능(파라미터포함)
- 전역변수(global): 함수 밖에서 만들어진 변수 (어디서든 사용가능)
- 파이썬의 제어문은 해당 안된다. 제어문에 변수는 전역변수이다.

In [ ]:
gv = 10   # 함수를 만들때 전역변수를 사용하는건 안좋은 습관 항상 함수안에서 파라미터로 받아와야한다.

def do_func():
    print(gv)
do_func()

10

In [ ]:
gv = 10

def do_func():
    gv = 100    #지역변수는 별도의 공간이 있기때문 전역변수랑 상관없음
    print(gv)
do_func()

100

In [ ]:
gv

10

In [ ]:
def do_func():
    loc = 10
    print(loc)

do_func()

10

In [ ]:
print(loc)  #지역변수는 밖에서는 불가

NameError: ignored

In [ ]:
# bad  사용하지 말것 되도록이면 
def do_func():
    global loc
    loc = 100
do_func()

In [ ]:
print(loc)

100

*** 결론은 함수내에서 변수를 사용할때는 파라미터를 정의해서 인자를 받거나 지역변수를 선언해서 사용하세요 ***

In [ ]:
# 얕은 복사 vs 깊은 복사

In [ ]:
data =[
    [None,2,3],
    [4,5,6]
]

In [ ]:
def do_func(lst):
    lst[0][0] = 100
    return lst

In [ ]:
fill_data = do_func(data[:])
fill_data

[[100, 2, 3], [4, 5, 6]]

In [ ]:
data

[[100, 2, 3], [4, 5, 6]]

In [ ]:
a = [1,2,3]
b = a
b.append(5)
print(a)
print(b)

[1, 2, 3, 5]
[1, 2, 3, 5]

In [ ]:
a = [1,2,3]
b = a[:]

b.append(5)
print(a)
print(b)

[1, 2, 3]
[1, 2, 3, 5]

In [ ]:
a = [1,2,[3,4]]
b = a[:]

b[2].append(5)
print(a)
print(b)

[1, 2, [3, 4, 5]]
[1, 2, [3, 4, 5]]

In [ ]:
import copy

a = [1,2,[3,4]]
b = copy.deepcopy(a)

b[2].append(5)
print(a)
print(b)

[1, 2, [3, 4]]
[1, 2, [3, 4, 5]]

# 키워드 아규먼트

In [ ]:
def do_func(a,b,c):
    print(a,b,c)

do_func(1,2,3) #positional argument

1 2 3

In [ ]:
do_func(a=1, b=2, c=3)

1 2 3

In [ ]:
do_func(b=2,a=1,c=3)

1 2 3

#  파라미터를 정의하는 방식

## 디폴트(default) 파라미터
- 아규먼트를 넣어주지 않을때 파라미터에 지정된 초깃값을 사용한다.

In [ ]:
print(1,2,3,sep="/")

1/2/3

In [ ]:
def do_func(a,b,c=1):
    print(a,b,c)
do_func("hello",30)

hello 30 1

- 디폴트 파라미터는 일반 파라미터 뒤에 넣어줘야한다.

In [ ]:
def do_func(a,b=1,c):
    print(a,b,c)

SyntaxError: ignored

```
행과 열로 구성되어 있는 리스트를 인자로 받고 추가로 열을 선택할 수 있는 정수를 인자로 받아 열부분 리스트로 반환하는 함수를 만드세요.

lst = [
    [1,2,3]
    [4,5,6]
    [7,8,9]
]

def get_column(lst, i=0):
    code context
    
get_column(lst,1)

output:
[2,5,8]
```

In [ ]:
lst = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

def get_column(lst, i=0):
    return[n[i] for n in lst]

In [ ]:
lst = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
lst[1]

[4, 5, 6]

## 가변 파라미터
- 함수를 정의하면서 아규먼트가 n개 이상이 들어 올수 있다면 가변파라미터를 정의해주면된다.(0개포함)
- `*` 를 이용해서 파라미터명을 정의해주면된다.
- 일반적으로 `*args` 표현
- 함수내부에서는 튜플 묶인다.

In [ ]:
print(1,2,3,4,55,56)

1 2 3 4 55 56

In [ ]:
def do_func(*args):# packing
    print(args) 
    print(sum(args))
    print(list(args))

do_func(1,2,3,4,5)

(1, 2, 3, 4, 5)
15
[1, 2, 3, 4, 5]

In [ ]:
def do_func(a,*args, b=100):
    print(a)
    print(args)
    print(b)

do_func(1,2,3,4,5,6,7,200)

1
(2, 3, 4, 5, 6, 7, 200)
100

In [ ]:
do_func(1,2,3,4,5,6,7,b=200)

1
(2, 3, 4, 5, 6, 7)
200

In [ ]:
def do_func(*args):
    print(args)

In [ ]:
tup = (1,2,3,4,5,6,7)
do_func(*tup) #do_func(1, 2, 3, 4, 5, 6, 7)

(1, 2, 3, 4, 5, 6, 7)

In [ ]:
lst = [1,2,3,4,5,6]
do_func(*lst)

(1, 2, 3, 4, 5, 6)

- packing, unpacking
    - packing: 하나의 변수에 여러 객체를 묶어서 담는 방식
    - unpacking: 묶여 있는  여러객체를 여러변수에 풀어서 담는 방식

## 키워드 가변 파라미터
- 함수를 정의하면서 키워드 아규먼트가 n개이상 들어 올수 있다(0개 포함)
- 일반적으로 `**kwargs` 로 표현
- 함수내부에 딕셔너리 형태로 묶인다.
- 키워드 아규먼트에서 키워드가 key값이 되고, 아규먼트가  value 된다.

In [ ]:
def do_func(a,b,**kwargs):
    print(a)
    print(b)
    print(kwargs)

In [ ]:
do_func(10,20,c=30,name="예찬",age=40)

10
20
{'c': 30, 'name': '예찬', 'age': 40}

In [ ]:
kwargs_dict = {
    "c" : 30,
    "name" : "예찬",
    "age" : 25
}

do_func(20,30,**kwargs_dict)

20
30
{'c': 30, 'name': '예찬', 'age': 25}

In [ ]:
def train_model(loss_fn,learning_rate,num_iterations):
    print(loss_fn)
    print(learning_rate)
    print(num_iterations)

In [ ]:
dict_args = {
    "loss_fn" : "mse",
    "learning_rate" : 0.001,
    "num_iterations" : 100
}

train_model(**dict_args) # 딕셔너리를 언패킹하면 키워드 아규먼트 형식으로 풀린다.

mse
0.001
100

```
print 함수의 sep , end 를 dict 정의해서 언패킹하여 넣오보세요
출력결과는 다음과 같습니다.

output
파이썬#자바!
```

In [ ]:
dict_arg = {
    "sep" : "#",
    "end" : "!"
}
print("파이썬","자바",**dict_arg)

파이썬#자바!

- 여러 종류의 파라미터를 정의할때 순서

In [ ]:
def do_func(postional_param,default_param="default_value", *args,**kwargs):
    pass

|

In [ ]:
data = [80,70,60,99,87,86]

def argmax(lst):
    return lst.index(max(lst))
def argmin(lst):
    return lst.index(min(lst))

print(argmax(data))
print(argmin(data))

3
2


```
start , end 값을 입력 받아 리스트를 반환하는 함수를 생성하시오.

ex)
arange(1,5) -> [1,2,3,4]
arange(5) -> [0,1,2,3,4]
```

In [ ]:
def arange(start,end=0):
    if end is None: 
        result=list(range(start))
    else:    
        result=list(range(start,end))
    return result

print(arange(10))
print(arange(2,9))
print(arange(-10,2))
print(arange(4,0))

[]
[2, 3, 4, 5, 6, 7, 8]
[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1]
[]

In [ ]:
def arange(start,end=None):
    tmp = []
    if end != None:
        for i in range(start,end):
            tmp.append(i)
    else:
        for i in range(start):
            tmp.append(i)

    return tmp

print(arange(1,5))
print(arange(5))

[1, 2, 3, 4]
[0, 1, 2, 3, 4]

In [ ]:
def arange(start, end = None):
    result=[]
    if end != None:
        for i in range(start,end):
            result.append(i)
    else :
            for i in range(start):
                result.append(i)
    return result
print(arange(1,5))
print(arange(5))

[1, 2, 3, 4]
[0, 1, 2, 3, 4]

```
정수 혹은 튜플을 입력받아 0으로만 채워진 행렬 형태의 리스트를 반환하는 함수를 작성하시오.

ex)
zeros(3) -> [0,0,0]
zeros((2,3)) -> [[0,0,0], [0,0,0]]

data = [
    [0,0,0],
    [0,0,0]
]
```

In [ ]:
data = [
    [0,0,0],
    [0,0,0]
]
def zeros(shape):
    if type(shape) is int:
       result = [0] * shape
    else:
        result = [ [0] * shape[1] for i in range(shape[0])]
    return result
print(zeros(5))
print(zeros([3,3]))

[0, 0, 0, 0, 0]
[[0, 0, 0], [0, 0, 0], [0, 0, 0]]

# 람다 함수(lambda)

- 한줄 짜리 간단한 함수를 만들때 사용
- 1회용 함수를 만들때 많이 사용
- 람다 함수는 아주 간단한 파라미터가 정의되거나 반환하는 함수일 경우 사용
[링크 텍스트](https://)

In [ ]:
def add(num1,num2):
    return num1+num2
add(1,2)

3

In [ ]:
add_lambda = lambda num1,num2: num1+ num2 # 함수도 객체다!(파이썬은 다 객체다.)
add_lambda(1,2)

3

In [ ]:
my_max = max
my_max([100,101,34])

101

In [ ]:
square = lambda x:x**2
square(5)

25

```python
def get_max(lst):
    result = max(lst)
    return result
```

In [ ]:
get_max = lambda x: max(x)

get_max([1,2,3,4,5])

5

```python
def get_size(lst):
    result = max(lst) - min(lst)
    return result
```

In [ ]:
get_size = lambda x: max(x) - min(x)

get_size([1,2,3,4,5])

4

```python
def get_even(lst):
    result=[]
    for n in lst:
        if n % 2 == 0:
            result.append(n)
    return result
```

In [ ]:
get_even = lambda x: [ n for n in x if n % 2 ==0]

get_even([1,2,3,4,5,6,7,8,9,10])

[2, 4, 6, 8, 10]

# 클로져(Closure) 
- 함수안에 함수(내부함수)를 만들수 있다.
- 함수를 둘러썬 상태(지역변수)를 기억하고 있다가, 내부함수를 실행할때 기억한 지역변수를 처리한다.

In [ ]:
def outer(outer_param):
    a = 10
    pass
    def inner(): # 내부함수 ,a 변수와, outer_param 파라미터 접근 가능!
        # outer_param 대해서 처리
        pass

In [ ]:
def do_outer(a,b):
    def do_inner(): # 내부함수 입장에서 외부함수 지역변수와 파라미터 접근 가능!
        return a + b
    return do_inner # 내부 함수의 주소를 반환

inner_result1 = do_outer(10,20)
inner_result2 = do_outer(30,50)
print(inner_result1, inner_result2)

<function do_outer.<locals>.do_inner at 0x7f4e0267e050> <function do_outer.<locals>.do_inner at 0x7f4e0267e0e0>

In [ ]:
inner_result2()

80

# 콜백함수(callback Function)
- 함수의 인자로 사용되는 함수를 말한다.

- 두 수를 인자로 받아 더하는 함수와 빼는 함수를 만든다고 가정
- 두개의 함수 모두 실수가 들어올경우 정수로 변경해야하는 공통 기능이 있어야한다고 가정
- 실수를 정수로 변경하는 공통기능은 어떠한 함수에 구현
- 그래서 어떠한 함수에 인자로 더하는 함수와 뺴는 함수를 넣어서 더하는 처리와 빼는 처리를 한다면.....

In [ ]:
def convert_int(callback,a,b):
    # 공통기능 부분
    a = int(a)
    b = int(b)
    return callback(a,b) # 인자로 받은 콜백함수를 실행하여 결과값을 반환!!

In [ ]:
def add_func(num1,num2):
    return num1+num2
def sub_func(num1,num2):
    return num1-num2

convert_int(add_func,11.5,20.222)

31

In [ ]:
convert_int(lambda a,b:a*b, 10.11,3.0)

30

In [ ]:
map_obj = map(lambda x:x**0.5 , range(2,10))
map_obj

In [ ]:
list(map_obj)

[]

In [ ]:
map_obj = map(lambda x1,x2 : x1 + x2 ,[1,2,3], [4,5,6])
list(map_obj)

[5, 7, 9]

In [ ]:
list1 = [1,2,3]
list2 = [4,5,6]
list3 = [7,8,9]

map_obj=map(lambda x1,x2,x3 : x1*x2*x3 , list1,list2,list3)
list(map_obj)

[28, 80, 162]

In [ ]:
def do_func(x):
    if x % 2 == 0:
        return x
    else:
        return 0

In [ ]:
lst = [1,2,3,4,5,6,7,8,9]
map_obj = map(do_func,lst)
list(map_obj)

[0, 2, 0, 4, 0, 6, 0, 8, 0]

In [ ]:
list1 = [100,200,300]
list2 = [400,500,600]

zip_func = map(lambda x1,x2:(x1,x2),list1,list2)
for x1,x2 in zip_func:
        print(x1,x2)

100 400
200 500
300 600

```
map 함수를 이용해서 enumerate 함수 구현해보자
enumerate 함수가 없다고 가정한다.
ex)
lst = [100,200,300]
enumerate_func = map(func, iterables)
for i,v in enumerate_func:
    print(i,v)
Output:
0 100
1 200
2 300
```

In [ ]:
lst = [100,200,300]

enumerate_func = map(lambda i,v:(i,v),range(len(lst)) ,lst )
for i,v in enumerate_func:
    print(i,v)

0 100
1 200
2 300

# Decorator(장식하다, 꾸미다)
- 코드를 변경하지 않고 기능을 추가하거나 수정하고 싶을때 정의하는 표현식
- 내부함수의 주소를 리턴하는 쿨로져와 비슷하고 함수를 다른함수의 인자로 전달하는 방식과 비슷하다.
- 그냥 두가지 방식을 합쳤다고 보면 된다.

In [ ]:
def decorator_func(org_func): # 함수를 인자로 받는다.
    def wrapper_func(): # 내부함수를 구현한다.
        print("org_func 가 실행 되기전 입니다.")
        org_func() # org_func 함수를 실행
    return wrapper_func # 내부함수의 주소를 반환

def do_func():
    print("original 함수가 실행되었습니다.")

result = decorator_func(do_func) # 데코레이터 함수에 감싸고자하는 함수의 주소를 인자로 넣는다.

In [ ]:
result() # wrapper_func() -> 그안에 코드가 실행된다. -> 인자로 받은 함수가 실행된다.

org_func 가 실행 되기전 입니다.
original 함수가 실행되었습니다.

In [ ]:
def decorator_func(org_func): # 함수를 인자로 받는다.
    def wrapper_func(): # 내부함수를 구현한다.
        print("org_func 가 실행 되기전 입니다.")
        org_func() # org_func 함수를 실행
    return wrapper_func # 내부함수의 주소를 반환

#  decorator_func(do_func)
@decorator_func   
def do_func():
    print("original 함수가 실행되었습니다.")

In [ ]:
do_func()

org_func 가 실행 되기전 입니다.
original 함수가 실행되었습니다.

- 데코레이터로 감싸는 함수의 파라미터를 정의해야한다면?

In [ ]:
def decorator_func(org_func):
    def wrapper_func(*args,**kwargs):
        print(f"콜백함수가 실행되기 전입니다.")
        result = org_func(*args,**kwargs)
        print(f"콜백함수가 실행 완료ㄷ 되었습니다.")
        return result
    return wrapper_func

# decorator_func(do_func)
@decorator_func
def do_func(a,b):   # wrapper_func(*args,**kwargs):
    return a +b

do_func(3,5)

콜백함수가 실행되기 전입니다.
콜백함수가 실행 완료ㄷ 되었습니다.

8

# 문제 1)

```
행 혹은 행렬 형태의 리스트를 입력 받아 행의 크기와 열의 크기를 튜플로 반환하는 함수를 작성하시오

ex)
shape([]) -> (0,)
shape([1,2,3]) -> (3,)
shape([[1,2,3],[4,5,6]]) -> (2,3)

2차원 행렬 예시:
[
    [1,2,3],
    [4,5,6]
]

```

In [ ]:
def shape(lst):
    if len(lst) == 0:
        res = (0,)
    elif type(lst[0]) is list:
        res = (len(lst),len(lst[0]))
    else:
        res= (len(lst),)
    return res

print(shape([[1,2,3],[4,5,6]]))

(2, 3)

In [ ]:
def shape(lst):
    if len(lst) == 0:
        result = 0
    elif type(lst) is list:

# 문제 2)

```
행렬 형태의 리스트를 입력 받고 변경하고자하는 행의 크기와 열의 크기로 변환해서 
리스트로  반환 함수를 작성하시오
행과 열의 크기는 튜플로 받는다 . 
무조건 튜플 아니면 -1 입력이 들어온다고 가정한다.
튜플은 무조건 2개의 요소가 포함되서 들어온다고 가정한다.
튜플이 아닌 -1 이 들어올경우 1차원 형태로 flatten 시킨다.

ex)
data = [
       [1,2,3],
       [4,5,6]
]
reshape(data,-1) -> [1,2,3,4,5,6]
reshape(data,(3,2)) -> [[1,2],[3,4],[5,6]]

2차원 행렬 예시:
[
    [1,2],
    [3,4],
    [5,6]
]

```

In [ ]:
data = [
       [1,2,3],
       [4,5,6]
]

In [ ]:
def reshape(lst,shape):
    flatten = []
    for item in lst:
        flatten.extend(item)
    result = flatten

    if shape != -1: # -1이 아닐경우 즉, 튜플일경우
        row = shape[0]
        col = shape[1]
        result = []
        for i in range(row):
            start_index = i * col
            end_index = start_index + col
            items = flatten[start_index:end_index]
            result.append(items)


    return result
reshape(data,(1.6))

TypeError: ignored

# 문제 3)

```
행렬 형태의 리스트를 입력 받고 행렬을 전치하는 함수를 작성하시오
행렬 전치는 열이 행이 되고 행은 열이 된다.

ex)
data = [
       [1,2,3],
       [4,5,6]
]
transpose(data) -> [[1, 4], [2, 5], [3, 6]]

2차원 행렬 예시:
[
    [1, 4], 
    [2, 5], 
    [3, 6]
]

```

In [ ]:
data = [
       [1,2,3],
       [4,5,6]
]

def transpose(lst):
    return [ list(tup) for tup in zip(*lst)] #zip([1,2,3],[4,5,6])
transpose(data)

[[1, 4], [2, 5], [3, 6]]