<a href="https://colab.research.google.com/github/dpcks/playdata/blob/main/04_pymysql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pymysql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.5 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

- 구글 드라이브 연결

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import yaml
DB_INFO = '/content/drive/MyDrive/data/db.yaml'
with open(DB_INFO,"r") as f:
    db_info = yaml.load(f, Loader=yaml.Loader)

- DB 접속 정보

In [ ]:
db_info

{'HOST': 'database-2.cmgtanjbjaag.ap-northeast-2.rds.amazonaws.com',
 'USER': 'user15',
 'PASSWD': 'user1512#$'}

In [ ]:
HOST = db_info['HOST']
USER = db_info['USER']
PASSWD = db_info['PASSWD']
PORT = 3306

- connect 함수를 이용하여 연결객체 받아오기

In [ ]:
import pymysql
conn = pymysql.connect(
    user = USER,
    passwd = PASSWD,
    host = HOST,
    port = PORT,
    db = 'playdata'
)
conn

- Cursor 객체
    - sql 구문을 실행하기 위한 객체

In [ ]:
cursor = conn.cursor()
cursor

- execute 메소드를 이용하여 서버에 sql 전송하기

In [ ]:
sql = "select * from titanic_raw;"
cursor.execute(sql)

1309

In [ ]:
result = cursor.fetchall() # 쿼리에 실행결과를 다 가져오는 메소드
result[:2]

((1,
  0,
  3,
  'Braund, Mr. Owen Harris',
  'male',
  22.0,
  1,
  0,
  'A/5 21171',
  7.25,
  None,
  'S'),
 (2,
  1,
  1,
  'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
  'female',
  38.0,
  1,
  0,
  'PC 17599',
  71.2833,
  'C85',
  'C'))

In [ ]:
cursor.fetchall()

()

- dict 형식으로 쿼리 실행결과 받아오기

In [ ]:
cursor = conn.cursor(pymysql.cursors.DictCursor)
cursor

In [ ]:
sql = "select * from titanic_raw;"
cursor.execute(sql)

1309

In [ ]:
res = cursor.fetchall()
res[:2]

[{'passengerid': 1,
  'survived': 0,
  'pclass': 3,
  'name': 'Braund, Mr. Owen Harris',
  'gender': 'male',
  'age': 22.0,
  'sibsp': 1,
  'parch': 0,
  'ticket': 'A/5 21171',
  'fare': 7.25,
  'cabin': None,
  'embarked': 'S'},
 {'passengerid': 2,
  'survived': 1,
  'pclass': 1,
  'name': 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
  'gender': 'female',
  'age': 38.0,
  'sibsp': 1,
  'parch': 0,
  'ticket': 'PC 17599',
  'fare': 71.2833,
  'cabin': 'C85',
  'embarked': 'C'}]

In [ ]:
cursor.execute(sql)
for row in cursor.fetchall():
    print(row)

In [ ]:
pclass = "select * from titanic_raw where pclass = 1 and gender='male' and age < 10;"
cursor.execute(pclass)

3

In [ ]:
res = cursor.fetchall()
res

[{'passengerid': 306,
  'survived': 1,
  'pclass': 1,
  'name': 'Allison, Master. Hudson Trevor',
  'gender': 'male',
  'age': 0.92,
  'sibsp': 1,
  'parch': 2,
  'ticket': '113781',
  'fare': 151.55,
  'cabin': 'C22 C26',
  'embarked': 'S'},
 {'passengerid': 446,
  'survived': 1,
  'pclass': 1,
  'name': 'Dodge, Master. Washington',
  'gender': 'male',
  'age': 4.0,
  'sibsp': 0,
  'parch': 2,
  'ticket': '33638',
  'fare': 81.8583,
  'cabin': 'A34',
  'embarked': 'S'},
 {'passengerid': 1088,
  'survived': 0,
  'pclass': 1,
  'name': 'Spedden, Master. Robert Douglas',
  'gender': 'male',
  'age': 6.0,
  'sibsp': 0,
  'parch': 2,
  'ticket': '16966',
  'fare': 134.5,
  'cabin': 'E34',
  'embarked': 'C'}]

- 한행씩 가져오기

In [ ]:
sql = "select * from titanic_raw;"
cursor.execute(sql)

1309

In [ ]:
cursor.fetchone()

{'passengerid': 2,
 'survived': 1,
 'pclass': 1,
 'name': 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
 'gender': 'female',
 'age': 38.0,
 'sibsp': 1,
 'parch': 0,
 'ticket': 'PC 17599',
 'fare': 71.2833,
 'cabin': 'C85',
 'embarked': 'C'}

- 커서 닫아주기

In [ ]:
cursor.close()
sql = "select * from titanic_raw;"
cursor.execute(sql)

ProgrammingError: ignored

- with 문과 함께 사용하기

In [ ]:
with conn.cursor() as cursor: # cursor = conn.cursor()
    sql = "select * from titanic_raw;"
    cursor.execute(sql)

- 커서가 닫혀있기 때문에 에러발생

In [ ]:
cursor.execute(sql)

ProgrammingError: ignored

- 연결 닫아주기

In [ ]:
conn.close()
cursor = conn.cursor()
sql = "select * from titanic_raw;"
cursor.execute(sql) # 접속점이 없는 cursor를 사용하니까 에러발생

InterfaceError: ignored

- DB 선택 없이 접속

In [ ]:
conn = pymysql.connect(
    user = USER,
    passwd = PASSWD,
    host = HOST,
    port = PORT,
    # autocommit = True 좋지 않은 습관 - default = False

)
conn

In [ ]:
conn.autocommit_mode

False

- DB 선택하기

In [ ]:
conn.select_db("user15") # user DB명;

In [ ]:
cursor = conn.cursor(pymysql.cursors.DictCursor)
cursor

In [ ]:
!pip install git+https://github.com/dpcks/api_project.git

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting git+https://github.com/dpcks/api_project.git
  Cloning https://github.com/dpcks/api_project.git to /tmp/pip-req-build-j_2t6vrp
  Running command git clone -q https://github.com/dpcks/api_project.git /tmp/pip-req-build-j_2t6vrp
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from myapi==0.0.1) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->myapi==0.0.1) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->myapi==0.0.1) (2022.6.15)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->myapi==0.0.1) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->myapi==0.0.1) (3.0.4)
Building wheels for collected packages: myapi
  Building wheel for myapi (setup.py) ... done
  Created wheel for myapi: filename=myapi-0.0.1-py3-none-any.whl size=1828 sha256=9371acb9bb2afc0573aa63d929d35d278a728ce766f7290e4f54bc28d325a66e
  Stored in directory: /tmp/pip-ephem-wheel-cache-1__mv982/wheels/e9/ee/ca/ebb2e8250233b467366939ceb539413dc00ecc2e34fd4f4a79
Successfully built myapi
Installing collected packages: myapi
Successfully installed myapi-0.0.1

In [ ]:
KEY_FILE = "/content/drive/MyDrive/data/local.yml"
with open(KEY_FILE,'r') as f:
    naver_keys = yaml.load(f, Loader=yaml.Loader)

In [ ]:
from my_api import naver_api

url= "https://openapi.naver.com/v1/search/movie.json"
params = {
    "query" : "부산행",
}
result = naver_api.search_api(url,naver_keys["CLIENT_ID"],naver_keys["CLIENT_SECRET"],params)
result

{'lastBuildDate': 'Tue, 23 Aug 2022 11:45:02 +0900',
 'total': 3,
 'start': 1,
 'display': 3,
 'items': [{'title': '반도',
   'link': 'https://movie.naver.com/movie/bi/mi/basic.nhn?code=185917',
   'image': 'https://ssl.pstatic.net/imgmovie/mdi/mit110/1859/185917_P28_182718.jpg',
   'subtitle': 'Peninsula',
   'pubDate': '2020',
   'director': '연상호|',
   'actor': '강동원|이정현|',
   'userRating': '5.63'},
  {'title': '<b>부산행</b>',
   'link': 'https://movie.naver.com/movie/bi/mi/basic.nhn?code=130966',
   'image': 'https://ssl.pstatic.net/imgmovie/mdi/mit110/1309/130966_P141_135403.jpg',
   'subtitle': 'TRAIN TO BUSAN',
   'pubDate': '2016',
   'director': '연상호|',
   'actor': '공유|정유미|마동석|김수안|김의성|최우식|안소희|',
   'userRating': '8.00'},
  {'title': '서울역',
   'link': 'https://movie.naver.com/movie/bi/mi/basic.nhn?code=122195',
   'image': 'https://ssl.pstatic.net/imgmovie/mdi/mit110/1221/122195_P29_113151.jpg',
   'subtitle': 'Seoul Station',
   'pubDate': '2016',
   'director': '연상호|',
   'actor': '류승룡|심은경|이준|',
   'userRating': '3.64'}]}

- 테이블 만들기

In [ ]:
sql = """
    create table if not exists tb_movie_info(
        id int unsigned not null auto_increment,
        actor varchar(255),
        director varchar(100),
        pubDate int,
        subtitle varchar(100),
        title varchar(100) not null,
        userRating float,
        primary key(id)
    );
"""
cursor.execute(sql)

0

In [ ]:
movie_list = [
( "명량", 2014),
( "인터스텔라", 2014),
( "해적: 바다로 간 산적",  2014),
( "수상한 그녀",2014),
( "국제시장",2014),
( "트랜스포머: 사라진 시대",2014),
( "군도: 민란의 시대",2014),
( "엣지 오브 투모로우",2014),
( "엑스맨: 데이즈 오브 퓨처 패스트",2014),
( "어메이징 스파이더맨 2",2014),
( "타짜-신의 손",2014),
( "혹성탈출: 반격의 서막",2014),
( "캡틴 아메리카: 윈터 솔져",2014),
( "역린",2014),
( "신의 한 수",2014),
]

In [ ]:
# items': [{'title': '반도',
#    'link': 'https://movie.naver.com/movie/bi/mi/basic.nhn?code=185917',
#    'image': 'https://ssl.pstatic.net/imgmovie/mdi/mit110/1859/185917_P28_182718.jpg',
#    'subtitle': 'Peninsula',
#    'pubDate': '2020',
#    'director': '연상호|',
#    'actor': '강동원|이정현|',
#    'userRating': '5.63'}

In [ ]:
for title,year in movie_list:
    params = {"query" : title, "display" : 1, "yearfrom" : year, "yearto": year}
    result = naver_api.search_api(url,
                                  naver_keys["CLIENT_ID"],
                                  naver_keys["CLIENT_SECRET"],
                                  params)   
    sql = f'''
        insert into tb_movie_info(actor,director,pubDate,subtitle,title,userRating)
        values(
            '{result["items"][0]["actor"]}',
            '{result["items"][0]["director"]}',
            {result["items"][0]["pubDate"]},
            '{result["items"][0]["subtitle"]}',
            '{result["items"][0]["title"]}',
            {result["items"][0]["userRating"]}
        );
    '''
    cursor.execute(sql)

In [ ]:
conn.commit()

- 잘 저장 됐는지 확인해보자

In [ ]:
sql = "select * from tb_movie_info;"
cursor.execute(sql)
cursor.fetchall()

[{'id': 1,
  'actor': '최민식|류승룡|조진웅|',
  'director': '김한민|',
  'pubDate': 2014,
  'subtitle': 'ROARING CURRENTS',
  'title': '<b>명량</b>',
  'userRating': 8.44},
 {'id': 2,
  'actor': '매튜 맥커너히|앤 해서웨이|마이클 케인|제시카 차스테인|',
  'director': '크리스토퍼 놀란|',
  'pubDate': 2014,
  'subtitle': 'Interstellar',
  'title': '<b>인터스텔라</b>',
  'userRating': 9.11},
 {'id': 3,
  'actor': '김남길|손예진|',
  'director': '이석훈|',
  'pubDate': 2014,
  'subtitle': 'The Pirates',
  'title': '<b>해적: 바다로 간 산적</b>',
  'userRating': 8.28},
 {'id': 4,
  'actor': '심은경|나문희|박인환|성동일|이진욱|',
  'director': '황동혁|',
  'pubDate': 2014,
  'subtitle': 'Miss Granny',
  'title': '<b>수상한 그녀</b>',
  'userRating': 9.01},
 {'id': 5,
  'actor': '황정민|김윤진|오달수|정진영|',
  'director': '윤제균|',
  'pubDate': 2014,
  'subtitle': 'Ode to My Father',
  'title': '<b>국제시장</b>',
  'userRating': 9.02},
 {'id': 6,
  'actor': '마크 월버그|니콜라 펠츠|잭 레이너|스탠리 투치|리빙빙|',
  'director': '마이클 베이|',
  'pubDate': 2014,
  'subtitle': 'Transformers: Age of Extinction',
  'title': '<b>트랜스포머: 사라진 시대</b>',
  'userRating': 6.58},
 {'id': 7,
  'actor': '하정우|강동원|',
  'director': '윤종빈|',
  'pubDate': 2014,
  'subtitle': 'KUNDO : Age of the Rampant',
  'title': '<b>군도:민란의 시대</b>',
  'userRating': 6.94},
 {'id': 8,
  'actor': '톰 크루즈|에밀리 블런트|빌 팩스톤|',
  'director': '더그 라이만|',
  'pubDate': 2014,
  'subtitle': 'Edge of Tomorrow',
  'title': '<b>엣지 오브 투모로우</b>',
  'userRating': 8.96},
 {'id': 9,
  'actor': '제니퍼 로렌스|휴 잭맨|제임스 맥어보이|마이클 패스벤더|',
  'director': '브라이언 싱어|',
  'pubDate': 2014,
  'subtitle': 'X-Men: Days of Future Past',
  'title': '<b>엑스맨: 데이즈 오브 퓨처 패스트</b>',
  'userRating': 8.89},
 {'id': 10,
  'actor': '엠마 스톤|앤드류 가필드|',
  'director': '마크 웹|',
  'pubDate': 2014,
  'subtitle': 'The Amazing Spider-Man <b>2</b>',
  'title': '<b>어메이징 스파이더맨 2</b>',
  'userRating': 7.77},
 {'id': 11,
  'actor': 'T.O.P|신세경|곽도원|이하늬|',
  'director': '강형철|',
  'pubDate': 2014,
  'subtitle': 'Tazza-The Hidden Card',
  'title': '<b>타짜-신의 손</b>',
  'userRating': 7.25},
 {'id': 12,
  'actor': '앤디 서키스|게리 올드만|제이슨 클락|주디 그리어|케리 러셀|',
  'director': '맷 리브스|',
  'pubDate': 2014,
  'subtitle': 'Dawn of the Planet of the Apes',
  'title': '<b>혹성탈출: 반격의 서막</b>',
  'userRating': 8.54},
 {'id': 13,
  'actor': '스칼릿 조핸슨|크리스 에반스|사무엘 L. 잭슨|',
  'director': '조 루소|앤서니 루소|',
  'pubDate': 2014,
  'subtitle': 'Captain America: The Winter Soldier',
  'title': '<b>캡틴 아메리카: 윈터 솔져</b>',
  'userRating': 8.93},
 {'id': 14,
  'actor': '현빈|정재영|조정석|조재현|한지민|',
  'director': '이재규|',
  'pubDate': 2014,
  'subtitle': 'The Fatal Encounter',
  'title': '<b>역린</b>',
  'userRating': 7.09},
 {'id': 15,
  'actor': '정우성|이범수|안성기|김인권|이시영|',
  'director': '조범구|',
  'pubDate': 2014,
  'subtitle': 'The Divine Move',
  'title': '<b>신의 한 수</b>',
  'userRating': 8.02},
 {'id': 16,
  'actor': '정우성|이범수|안성기|김인권|이시영|',
  'director': '조범구|',
  'pubDate': 2014,
  'subtitle': 'The Divine Move',
  'title': '<b>신의 한 수</b>',
  'userRating': 8.02}]

- insert 한번에 실행해서 속도 개선

In [ ]:
# for title,year in movie_list:

#     '{result["items"][0]["actor"]}',
#             '{result["items"][0]["director"]}',
#             {result["items"][0]["pubDate"]},
#             '{result["items"][0]["subtitle"]}',
#             '{result["items"][0]["title"]}',
#             {result["items"][0]["userRating"]}

In [ ]:
values_list = []
for title,year in movie_list:
    params = {"query" : title, "display" : 1, "yearfrom" : year, "yearto": year}
    result = naver_api.search_api(url,
                                  naver_keys["CLIENT_ID"],
                                  naver_keys["CLIENT_SECRET"],
                                  params)  
    values = ( 
    result["items"][0]["actor"],
    result["items"][0]["director"],
    result["items"][0]["pubDate"],
    result["items"][0]["subtitle"],
    result["items"][0]["title"],
    result["items"][0]["userRating"]
    )
    values_list.append(values)

In [ ]:
values_list[0]

('최민식|류승룡|조진웅|', '김한민|', '2014', 'ROARING CURRENTS', '<b>명량</b>', '8.44')

In [ ]:
sql = '''
    insert into tb_movie_info(actor,director,pubDate,subtitle,title,userRating)
    values(%s,%s,%s,%s,%s,%s);
'''
cursor.executemany(sql,values_list)

15

In [ ]:
conn.rollback()

In [ ]:
sql ="select * from tb_movie_info"
cursor.execute(sql)
cursor.fetchall() # rollback했기 때문에 15개밖에 없다.

In [ ]:
conn.close()

- pymysql의 연결 객체를 이용하여 테이블의 pandas의 자료형인 데이터프레임 객체 생성하기

In [ ]:
import pymysql
conn = pymysql.connect(
    user = USER,
    passwd = PASSWD,
    host = HOST,
    port = PORT,
    db = 'playdata'
)
conn

In [ ]:
import pandas as pd
df = pd.read_sql("select * from titanic_raw",conn)
df

,passengerid,survived,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S
...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,None,S
1305,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
1306,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,None,S
1307,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,None,S
1308,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,None,C

In [ ]:
pd.read_sql ("show tables",conn)

  Tables_in_playdata
0               dept
1                emp
2      tb_movie_info
3        titanic_raw

In [ ]:
pd.read_sql ("desc titanic_raw ",conn) # 컬럼의 특성을 알기위해서 사용

          Field          Type Null  Key Default Extra
0   passengerid           int   NO  PRI    None
1      survived           int  YES         None
2        pclass           int  YES         None
3          name  varchar(100)  YES         None
4        gender   varchar(50)  YES         None
5           age        double  YES         None
6         sibsp           int  YES         None
7         parch           int  YES         None
8        ticket   varchar(80)  YES         None
9          fare        double  YES         None
10        cabin   varchar(50)  YES         None
11     embarked   varchar(20)  YES         None

In [ ]:
pd.read_sql ("select avg(survived) from titanic_raw where gender = 'male' ",conn)

   avg(survived)
0         0.1293

In [ ]:
pd.read_sql ("select embarked, avg(survived) from titanic_raw where embarked = 's'and gender = 'female' ",conn)

  embarked  avg(survived)
0        S         0.7835

In [ ]:
pd.read_sql ("select a.*, add_feature from titanic_raw as a lefe join
) "
,conn)