<a href="https://colab.research.google.com/github/dpcks/playdata/blob/main/data_processing/%ED%83%80%EC%9D%B4%ED%83%80%EB%8B%89%EC%98%88%EC%B8%A1%ED%95%98%EA%B8%B0_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- 범주형에 대한 가능한 인코딩 
    - 원핫 인코딩
    - 카운트 인코딩
    - 순서형 인코딩
- 모델은 다음의 모델만 사용
    - LogisticRegression
- 스케일링은 minmax 만 사용
    - MinMaxScaler
- 모든 랜덤 요소에 seed 값은 42
    - 검증셋 사이즈는 0.2

In [ ]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score 
from sklearn.model_selection import train_test_split # 검증셋 사이즈 0.2
from sklearn.linear_model import LogisticRegression # 모델
from sklearn.preprocessing import MinMaxScaler # 이걸로만 스케일링 할것
from sklearn.preprocessing import OneHotEncoder

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
DATA_PATH = "/content/drive/MyDrive/data/"
SEED = 42

In [ ]:
df = pd.read_csv(f"{DATA_PATH}titanic.csv")
df

,passengerid,survived,pclass,name,gender,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
1304,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
1305,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
1306,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1307,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
1308,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   passengerid  1309 non-null   int64
 1   survived     1309 non-null   int64
 2   pclass       1309 non-null   int64
 3   name         1309 non-null   object
 4   gender       1309 non-null   object
 5   age          1046 non-null   float64
 6   sibsp        1309 non-null   int64
 7   parch        1309 non-null   int64
 8   ticket       1309 non-null   object
 9   fare         1308 non-null   float64
 10  cabin        295 non-null    object
 11  embarked     1307 non-null   object
dtypes: float64(2), int64(5), object(5)
memory usage: 122.8+ KB

In [ ]:
df["gender"] = df["gender"].map({"male":1,"female":0})

In [ ]:
cols = ["pclass","gender","age","sibsp","parch","fare"]
features = df[cols]
features.head()

   pclass  gender   age  sibsp  parch     fare
0       3       1  22.0      1      0   7.2500
1       1       0  38.0      1      0  71.2833
2       3       0  26.0      0      0   7.9250
3       1       0  35.0      1      0  53.1000
4       3       1  35.0      0      0   8.0500

In [ ]:
features["family"]= features["sibsp"] + features["parch"]
features

,pclass,gender,age,sibsp,parch,fare,family,gender+fare_mean,fare_mean,age_mean,...,cabin_F33,cabin_F38,cabin_F4,cabin_G6,cabin_T,cabin_nan,embarked_C,embarked_Q,embarked_S,embarked_nan
0,3,1,22.0,1,0,7.2500,1,26.154601,13.302889,24.816367,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,1,0,38.0,1,0,71.2833,1,46.198097,87.508992,39.159930,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,3,0,26.0,0,0,7.9250,0,46.198097,13.302889,24.816367,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,1,0,35.0,1,0,53.1000,1,46.198097,87.508992,39.159930,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,3,1,35.0,0,0,8.0500,0,26.154601,13.302889,24.816367,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,1,-1.0,0,0,8.0500,0,26.154601,13.302889,24.816367,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1305,1,0,39.0,0,0,108.9000,0,46.198097,87.508992,39.159930,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1306,3,1,38.5,0,0,7.2500,0,26.154601,13.302889,24.816367,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1307,3,1,-1.0,0,0,8.0500,0,26.154601,13.302889,24.816367,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1308,3,1,-1.0,1,1,22.3583,2,26.154601,13.302889,24.816367,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0

In [ ]:
agg_list=[
    ("gender+fare_mean",lambda x:x.mean())
]
tmp = df.groupby("gender")["fare"].agg(agg_list).reset_index()
features = features.merge(tmp,how="left")
features

      pclass  gender   age  sibsp  parch      fare  family  gender+fare_mean
0          3       1  22.0      1      0    7.2500       1         26.154601
1          1       0  38.0      1      0   71.2833       1         46.198097
2          3       0  26.0      0      0    7.9250       0         46.198097
3          1       0  35.0      1      0   53.1000       1         46.198097
4          3       1  35.0      0      0    8.0500       0         26.154601
...      ...     ...   ...    ...    ...       ...     ...               ...
1304       3       1   NaN      0      0    8.0500       0         26.154601
1305       1       0  39.0      0      0  108.9000       0         46.198097
1306       3       1  38.5      0      0    7.2500       0         26.154601
1307       3       1   NaN      0      0    8.0500       0         26.154601
1308       3       1   NaN      1      1   22.3583       2         26.154601

[1309 rows x 8 columns]

- pclass 별 운임료에 대한 평균

In [ ]:
agg_list=[
    ("fare_mean",lambda x:x.mean())
]
tmp =df.groupby("pclass")["fare"].agg(agg_list).reset_index()
features = features.merge(tmp,how="left")
features

,pclass,gender,age,sibsp,parch,fare,family,gender+fare_mean,fare_mean
0,3,1,22.0,1,0,7.2500,1,26.154601,13.302889
1,1,0,38.0,1,0,71.2833,1,46.198097,87.508992
2,3,0,26.0,0,0,7.9250,0,46.198097,13.302889
3,1,0,35.0,1,0,53.1000,1,46.198097,87.508992
4,3,1,35.0,0,0,8.0500,0,26.154601,13.302889
...,...,...,...,...,...,...,...,...,...
1304,3,1,NaN,0,0,8.0500,0,26.154601,13.302889
1305,1,0,39.0,0,0,108.9000,0,46.198097,87.508992
1306,3,1,38.5,0,0,7.2500,0,26.154601,13.302889
1307,3,1,NaN,0,0,8.0500,0,26.154601,13.302889
1308,3,1,NaN,1,1,22.3583,2,26.154601,13.302889

In [ ]:
agg_list=[
    ("age_mean",lambda x:x.mean())
]
tmp = df.groupby("pclass")["age"].agg(agg_list).reset_index()
features = features.merge(tmp,how="left")
features

,pclass,gender,age,sibsp,parch,fare,family,gender+fare_mean,fare_mean,age_mean
0,3,1,22.0,1,0,7.2500,1,26.154601,13.302889,24.816367
1,1,0,38.0,1,0,71.2833,1,46.198097,87.508992,39.159930
2,3,0,26.0,0,0,7.9250,0,46.198097,13.302889,24.816367
3,1,0,35.0,1,0,53.1000,1,46.198097,87.508992,39.159930
4,3,1,35.0,0,0,8.0500,0,26.154601,13.302889,24.816367
...,...,...,...,...,...,...,...,...,...,...
1304,3,1,NaN,0,0,8.0500,0,26.154601,13.302889,24.816367
1305,1,0,39.0,0,0,108.9000,0,46.198097,87.508992,39.159930
1306,3,1,38.5,0,0,7.2500,0,26.154601,13.302889,24.816367
1307,3,1,NaN,0,0,8.0500,0,26.154601,13.302889,24.816367
1308,3,1,NaN,1,1,22.3583,2,26.154601,13.302889,24.816367

- 나이별 운임료의 평균

In [ ]:
agg_list=[
    ("fare_mean",lambda x:x.mean())
]
tmp = df.groupby("age")["fare"].agg(agg_list).reset_index()
features = features.merge(tmp,how="left")
features

,pclass,gender,age,sibsp,parch,fare,family,gender+fare_mean,fare_mean,age_mean
0,3,1,22.0,1,0,7.2500,1,26.154601,13.302889,24.816367
1,1,0,38.0,1,0,71.2833,1,46.198097,87.508992,39.159930
2,3,0,26.0,0,0,7.9250,0,46.198097,13.302889,24.816367
3,1,0,35.0,1,0,53.1000,1,46.198097,87.508992,39.159930
4,3,1,35.0,0,0,8.0500,0,26.154601,13.302889,24.816367
...,...,...,...,...,...,...,...,...,...,...
1304,3,1,NaN,0,0,8.0500,0,26.154601,13.302889,24.816367
1305,1,0,39.0,0,0,108.9000,0,46.198097,87.508992,39.159930
1306,3,1,38.5,0,0,7.2500,0,26.154601,13.302889,24.816367
1307,3,1,NaN,0,0,8.0500,0,26.154601,13.302889,24.816367
1308,3,1,NaN,1,1,22.3583,2,26.154601,13.302889,24.816367

In [ ]:
oh_cols = ["cabin","embarked"]
enc = OneHotEncoder()

tmp = pd.DataFrame(
    enc.fit_transform(df[oh_cols]).toarray(),
    columns = enc.get_feature_names_out()
)

features = pd.concat([features,tmp],axis=1)
features

,pclass,gender,age,sibsp,parch,fare,family,gender+fare_mean,fare_mean,age_mean,...,cabin_F33,cabin_F38,cabin_F4,cabin_G6,cabin_T,cabin_nan,embarked_C,embarked_Q,embarked_S,embarked_nan
0,3,1,22.0,1,0,7.2500,1,26.154601,13.302889,24.816367,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,1,0,38.0,1,0,71.2833,1,46.198097,87.508992,39.159930,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,3,0,26.0,0,0,7.9250,0,46.198097,13.302889,24.816367,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
3,1,0,35.0,1,0,53.1000,1,46.198097,87.508992,39.159930,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,3,1,35.0,0,0,8.0500,0,26.154601,13.302889,24.816367,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,1,NaN,0,0,8.0500,0,26.154601,13.302889,24.816367,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1305,1,0,39.0,0,0,108.9000,0,46.198097,87.508992,39.159930,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1306,3,1,38.5,0,0,7.2500,0,26.154601,13.302889,24.816367,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1307,3,1,NaN,0,0,8.0500,0,26.154601,13.302889,24.816367,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1308,3,1,NaN,1,1,22.3583,2,26.154601,13.302889,24.816367,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0

In [ ]:
features.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 0 to 1308
Data columns (total 201 columns):
 #    Column                 Non-Null Count  Dtype
---   ------                 --------------  -----
 0    pclass                 1309 non-null   int64
 1    gender                 1309 non-null   int64
 2    age                    1046 non-null   float64
 3    sibsp                  1309 non-null   int64
 4    parch                  1309 non-null   int64
 5    fare                   1308 non-null   float64
 6    family                 1309 non-null   int64
 7    gender+fare_mean       1309 non-null   float64
 8    fare_mean              1309 non-null   float64
 9    age_mean               1309 non-null   float64
 10   cabin_A10              1309 non-null   float64
 11   cabin_A11              1309 non-null   float64
 12   cabin_A14              1309 non-null   float64
 13   cabin_A16              1309 non-null   float64
 14   cabin_A18              1309 non-null   float64
 15   cabin_A19              1309 non-null   float64
 16   cabin_A20              1309 non-null   float64
 17   cabin_A21              1309 non-null   float64
 18   cabin_A23              1309 non-null   float64
 19   cabin_A24              1309 non-null   float64
 20   cabin_A26              1309 non-null   float64
 21   cabin_A29              1309 non-null   float64
 22   cabin_A31              1309 non-null   float64
 23   cabin_A32              1309 non-null   float64
 24   cabin_A34              1309 non-null   float64
 25   cabin_A36              1309 non-null   float64
 26   cabin_A5               1309 non-null   float64
 27   cabin_A6               1309 non-null   float64
 28   cabin_A7               1309 non-null   float64
 29   cabin_A9               1309 non-null   float64
 30   cabin_B10              1309 non-null   float64
 31   cabin_B101             1309 non-null   float64
 32   cabin_B102             1309 non-null   float64
 33   cabin_B11              1309 non-null   float64
 34   cabin_B18              1309 non-null   float64
 35   cabin_B19              1309 non-null   float64
 36   cabin_B20              1309 non-null   float64
 37   cabin_B22              1309 non-null   float64
 38   cabin_B24              1309 non-null   float64
 39   cabin_B26              1309 non-null   float64
 40   cabin_B28              1309 non-null   float64
 41   cabin_B3               1309 non-null   float64
 42   cabin_B30              1309 non-null   float64
 43   cabin_B35              1309 non-null   float64
 44   cabin_B36              1309 non-null   float64
 45   cabin_B37              1309 non-null   float64
 46   cabin_B38              1309 non-null   float64
 47   cabin_B39              1309 non-null   float64
 48   cabin_B4               1309 non-null   float64
 49   cabin_B41              1309 non-null   float64
 50   cabin_B42              1309 non-null   float64
 51   cabin_B45              1309 non-null   float64
 52   cabin_B49              1309 non-null   float64
 53   cabin_B5               1309 non-null   float64
 54   cabin_B50              1309 non-null   float64
 55   cabin_B51 B53 B55      1309 non-null   float64
 56   cabin_B52 B54 B56      1309 non-null   float64
 57   cabin_B57 B59 B63 B66  1309 non-null   float64
 58   cabin_B58 B60          1309 non-null   float64
 59   cabin_B61              1309 non-null   float64
 60   cabin_B69              1309 non-null   float64
 61   cabin_B71              1309 non-null   float64
 62   cabin_B73              1309 non-null   float64
 63   cabin_B77              1309 non-null   float64
 64   cabin_B78              1309 non-null   float64
 65   cabin_B79              1309 non-null   float64
 66   cabin_B80              1309 non-null   float64
 67   cabin_B82 B84          1309 non-null   float64
 68   cabin_B86              1309 non-null   float64
 69   cabin_B94              1309 non-null   float64
 70   cabin_B96 B98          1309 non-null   float64
 71   cabin_C101             1309 non-null   float64
 72   cabin_C103             1309 non-null   float64
 73   cabin_C104             1309 non-null   float64
 74   cabin_C105             1309 non-null   float64
 75   cabin_C106             1309 non-null   float64
 76   cabin_C110             1309 non-null   float64
 77   cabin_C111             1309 non-null   float64
 78   cabin_C116             1309 non-null   float64
 79   cabin_C118             1309 non-null   float64
 80   cabin_C123             1309 non-null   float64
 81   cabin_C124             1309 non-null   float64
 82   cabin_C125             1309 non-null   float64
 83   cabin_C126             1309 non-null   float64
 84   cabin_C128             1309 non-null   float64
 85   cabin_C130             1309 non-null   float64
 86   cabin_C132             1309 non-null   float64
 87   cabin_C148             1309 non-null   float64
 88   cabin_C2               1309 non-null   float64
 89   cabin_C22 C26          1309 non-null   float64
 90   cabin_C23 C25 C27      1309 non-null   float64
 91   cabin_C28              1309 non-null   float64
 92   cabin_C30              1309 non-null   float64
 93   cabin_C31              1309 non-null   float64
 94   cabin_C32              1309 non-null   float64
 95   cabin_C39              1309 non-null   float64
 96   cabin_C45              1309 non-null   float64
 97   cabin_C46              1309 non-null   float64
 98   cabin_C47              1309 non-null   float64
 99   cabin_C49              1309 non-null   float64
 100  cabin_C50              1309 non-null   float64
 101  cabin_C51              1309 non-null   float64
 102  cabin_C52              1309 non-null   float64
 103  cabin_C53              1309 non-null   float64
 104  cabin_C54              1309 non-null   float64
 105  cabin_C55 C57          1309 non-null   float64
 106  cabin_C6               1309 non-null   float64
 107  cabin_C62 C64          1309 non-null   float64
 108  cabin_C65              1309 non-null   float64
 109  cabin_C68              1309 non-null   float64
 110  cabin_C7               1309 non-null   float64
 111  cabin_C70              1309 non-null   float64
 112  cabin_C78              1309 non-null   float64
 113  cabin_C80              1309 non-null   float64
 114  cabin_C82              1309 non-null   float64
 115  cabin_C83              1309 non-null   float64
 116  cabin_C85              1309 non-null   float64
 117  cabin_C86              1309 non-null   float64
 118  cabin_C87              1309 non-null   float64
 119  cabin_C89              1309 non-null   float64
 120  cabin_C90              1309 non-null   float64
 121  cabin_C91              1309 non-null   float64
 122  cabin_C92              1309 non-null   float64
 123  cabin_C93              1309 non-null   float64
 124  cabin_C95              1309 non-null   float64
 125  cabin_C97              1309 non-null   float64
 126  cabin_C99              1309 non-null   float64
 127  cabin_D                1309 non-null   float64
 128  cabin_D10 D12          1309 non-null   float64
 129  cabin_D11              1309 non-null   float64
 130  cabin_D15              1309 non-null   float64
 131  cabin_D17              1309 non-null   float64
 132  cabin_D19              1309 non-null   float64
 133  cabin_D20              1309 non-null   float64
 134  cabin_D21              1309 non-null   float64
 135  cabin_D22              1309 non-null   float64
 136  cabin_D26              1309 non-null   float64
 137  cabin_D28              1309 non-null   float64
 138  cabin_D30              1309 non-null   float64
 139  cabin_D33              1309 non-null   float64
 140  cabin_D34              1309 non-null   float64
 141  cabin_D35              1309 non-null   float64
 142  cabin_D36              1309 non-null   float64
 143  cabin_D37              1309 non-null   float64
 144  cabin_D38              1309 non-null   float64
 145  cabin_D40              1309 non-null   float64
 146  cabin_D43              1309 non-null   float64
 147  cabin_D45              1309 non-null   float64
 148  cabin_D46              1309 non-null   float64
 149  cabin_D47              1309 non-null   float64
 150  cabin_D48              1309 non-null   float64
 151  cabin_D49              1309 non-null   float64
 152  cabin_D50              1309 non-null   float64
 153  cabin_D56              1309 non-null   float64
 154  cabin_D6               1309 non-null   float64
 155  cabin_D7               1309 non-null   float64
 156  cabin_D9               1309 non-null   float64
 157  cabin_E10              1309 non-null   float64
 158  cabin_E101             1309 non-null   float64
 159  cabin_E12              1309 non-null   float64
 160  cabin_E121             1309 non-null   float64
 161  cabin_E17              1309 non-null   float64
 162  cabin_E24              1309 non-null   float64
 163  cabin_E25              1309 non-null   float64
 164  cabin_E31              1309 non-null   float64
 165  cabin_E33              1309 non-null   float64
 166  cabin_E34              1309 non-null   float64
 167  cabin_E36              1309 non-null   float64
 168  cabin_E38              1309 non-null   float64
 169  cabin_E39 E41          1309 non-null   float64
 170  cabin_E40              1309 non-null   float64
 171  cabin_E44              1309 non-null   float64
 172  cabin_E45              1309 non-null   float64
 173  cabin_E46              1309 non-null   float64
 174  cabin_E49              1309 non-null   float64
 175  cabin_E50              1309 non-null   float64
 176  cabin_E52              1309 non-null   float64
 177  cabin_E58              1309 non-null   float64
 178  cabin_E60              1309 non-null   float64
 179  cabin_E63              1309 non-null   float64
 180  cabin_E67              1309 non-null   float64
 181  cabin_E68              1309 non-null   float64
 182  cabin_E77              1309 non-null   float64
 183  cabin_E8               1309 non-null   float64
 184  cabin_F                1309 non-null   float64
 185  cabin_F E46            1309 non-null   float64
 186  cabin_F E57            1309 non-null   float64
 187  cabin_F E69            1309 non-null   float64
 188  cabin_F G63            1309 non-null   float64
 189  cabin_F G73            1309 non-null   float64
 190  cabin_F2               1309 non-null   float64
 191  cabin_F33              1309 non-null   float64
 192  cabin_F38              1309 non-null   float64
 193  cabin_F4               1309 non-null   float64
 194  cabin_G6               1309 non-null   float64
 195  cabin_T                1309 non-null   float64
 196  cabin_nan              1309 non-null   float64
 197  embarked_C             1309 non-null   float64
 198  embarked_Q             1309 non-null   float64
 199  embarked_S             1309 non-null   float64
 200  embarked_nan           1309 non-null   float64
dtypes: float64(196), int64(5)
memory usage: 2.0 MB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  """Entry point for launching an IPython kernel.

In [ ]:
features= features.fillna(-1)
features.isnull().sum().sum()

0

In [ ]:
df.isnull().sum()

passengerid       0
survived          0
pclass            0
name              0
gender            0
age             263
sibsp             0
parch             0
ticket            0
fare              1
cabin          1014
embarked          2
dtype: int64

In [ ]:
df["age"]=df["age"].fillna(df["age"].std())
df["fare"]=df["fare"].fillna(df["fare"].std())
df.isnull().sum().sum()

1016

In [ ]:
scaler = MinMaxScaler()
x_data = scaler.fit_transform(features)
y_data = df["survived"]
x_data , y_data

(array([[1.        , 1.        , 0.28395062, ..., 0.        , 1.        ,
         0.        ],
        [0.        , 0.        , 0.48148148, ..., 0.        , 0.        ,
         0.        ],
        [1.        , 0.        , 0.33333333, ..., 0.        , 1.        ,
         0.        ],
        ...,
        [1.        , 1.        , 0.48765432, ..., 0.        , 1.        ,
         0.        ],
        [1.        , 1.        , 0.        , ..., 0.        , 1.        ,
         0.        ],
        [1.        , 1.        , 0.        , ..., 0.        , 0.        ,
         0.        ]]), 0       0
 1       1
 2       1
 3       1
 4       0
        ..
 1304    0
 1305    1
 1306    0
 1307    0
 1308    0
 Name: survived, Length: 1309, dtype: int64)

In [ ]:
x_train, x_valid, y_train, y_valid = train_test_split(x_data, y_data, test_size=0.2,random_state=SEED)
x_train.shape, x_valid.shape, y_train.shape, y_valid.shape

((1047, 201), (262, 201), (1047,), (262,))

In [ ]:
model = LogisticRegression(random_state=SEED)
model.fit(x_train,y_train)

LogisticRegression(random_state=42)

In [ ]:
pred = model.predict(x_valid)
accuracy_score(y_valid,pred)

0.8473282442748091

---------------------------------------------------------------------------------

In [ ]:
# df.select_dtypes("object").nunique()

In [ ]:
# tmp = df["cabin"].value_counts().reset_index()
# tmp

In [ ]:
# tmp.columns = ["cabin","cabin_cnt"]
# tmp.head()

In [ ]:
# features["cabin"]

In [ ]:
# features.merge(tmp,how="left", on="name").drop(columns=["name"])