<a href="https://colab.research.google.com/github/dpcks/playdata/blob/main/04_%EC%A0%9C%EC%96%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 제어문
- 코드의 '흐름'을 재어하는 문법
- 주어진 조건에 따라 반복해서 코드를 실행할때 사용하는 것을 제어문이라고 한다.

# 조건문(condition)
- 특정 조건을 만족하면('True') 코드를 실행
- 'if'  'elif' , 'else'
    - 우리 다음과 같이 'if elif else'만을 이용해서 조건문을 만든다고 가정해볼게요.
    - 'if'의 조건이 참이면 코드를 실행해라
    - 'elif (else if 약어): 그게아니고...elif 의 조건이 참이면 실행해라
    - `else` : `if`i 와 `elif` 모두 조건이 참이 아니라면 실행해라

-조건문
```python
if <condition>
    coode context
elif <conditoin>
    coode context
    ...
    ...
    ...
    else:
        coode context
...

In [ ]:
accuracy = 0.66
if accuracy >= 0.9:
    print("와우 최고의 인공지능 모델이네요")
elif accuracy <0.9 and accuracy >0.8:
    print("좋은 모델이네요")
elif accuracy < 0.8 and accuracy >=0.7:
    print("평범한 모델이네요")
else:
    print("차라리 제가 예측하겠습니다.")

차라리 제가 예측하겠습니다.

- if 문은 단독으로 사용가능

In [ ]:
num = 2 
if num != 0:
    print(10/num)

5.0

In [ ]:
num = 0 
if num:  # 0 과 None 객체가 아닐경울 True 
    print(10/num)

In [ ]:
num = 0
if num != 0:
    print(10/num)
else:
    print("0으로 나눌수 없습니다.")

0으로 나눌수 없습니다.

In [ ]:
num = 0
if num > 0:
    print(10/num)
elif num < 0:
    print("양수만 넣어주세요")
else:
    print("0으로 나눌수 없습니다.")

0으로 나눌수 없습니다.

```
회원가입시 넘어온 나이값이 정수형이면 '정상값'을 출력
그게 아니면 '잘못된 값'을 출력하는 프로그램을 만들어봅시다.
```

In [ ]:
age = 1
if type(age) == int:
    print ("정상값입니다.")
else:
    print("잘못된 값.")

정상값입니다.

```
회원가입 시 나이값이 100이상이면 "유효한 나이를 입력해주세요"를 출력
0 미만이면 "태어난거 맞나요?" 출력
0-99살 " DB저장완료" 출력
```

In [ ]:
age = -1 
if age > 99:
    print ("유효한 나이를 입력해주쇼")
elif age < 0:
    print("태어난거 맞나요?")
else:   
    print("DB저장완료")

태어난거 맞나요?

## 중첩 조건문
- 조건문안에 조건문을 사용할수 있다.

In [ ]:
age = 18
if age > 99 or age < 0:
    print("유효한 나이를 입력해주세요")
else:
    if age < 20:
        print("20세 이상만 회원가입이 가능합니다.")
    else:
        print("DB 저장 완료")

20세 이상만 회원가입이 가능합니다.

In [ ]:
input() # 사용ㅈ의 입력으로부터 입력값을 받을 수 있는 함수

10014

'10014'

In [ ]:
age = input("나이를 입력하시오: ")

나이를 입력하시오: 42

In [ ]:
age.isdigit()

True

In [ ]:
"3.14".isdigit()

False

```
scors = [90,100,51,78,66,88]
max 라는 단어를 입력받으면 최대값을 출력
min 라는 단어를 입력받으면 최소값을 출력
mean 라는 단어를 입력받으면 평균값을 출력
max,min,mean 외 다른 단어를 입력받으면  "똑바로 입력하세요" 출력
```

In [ ]:
scores = [90,100,51,78,66,88]
agg = input("max, min,mean")

scores_sort = sorted(scores)

if agg == "max":
    print(scores_sort[-1])
elif agg == "min":
    print(scores_sort[0])
elif agg == "mean":
    print(sum(scores)/len(scores))
else:
    print("똑바로 입력하세요")

max, min,meanmax
100

```
계좌에 10000원이 들어있습니다.
인출 금액을 입력 받습니다.
인출 금액이 'isdigt' 메소드를 이용하여 숫자가 아닐경울 "유효한 금액을 입력하세요' 출력

인출금액이 계좌에 있는 금액보다 크면 "인출 불가능합니다. { } 원의 잔액이 부족합니다." 출력
인출금액이 계좌에 있는 금액보다 작으면 "{ }원이 인출되었습니다" 출력
정수가 입력될경우에는 항상 마지막에 현재 계좌의 잔액을 출력("현재 잔액은 {}원 입니다.")

In [ ]:
account = 10000

In [ ]:
money = input("얼마 인출 할래?")
if money.isdigit():
    money = int(money)
    if account < money:
        print(f"인출이 불가능합니다.{money - account}원의 잔액이 부족합니다.")
    else:
        account -= money
        print(f"{money }원이 인출되었습니다")

    print(f"현재 잔액은{account}원입니다.")
else:
    print("유효한 금액을 입력하세요.")

얼마 인출 할래?asdfas
유효한 금액을 입력하세요.

- 중앙값
    - 주어진 값을 크기순으로 정렬했을때 가장 중앙에 위치한 값
    - 이상치에 영향을 받지 않는다.

In [ ]:
model_scores1 = [0.92 , 0.83 , 0.91 , 0.77, 0.99 , 0.61 , 0.88,0.76,0.75] #  홀수 개수
model_scores2 = [0.92 , 0.83 , 0.91 , 0.77, 0.99 , 0.61 , 0.88,0.76,0.75 , 0.51] # 짝수 개수
print(model_scores1)
print(model_scores2)

[0.92, 0.83, 0.91, 0.77, 0.99, 0.61, 0.88, 0.76, 0.75]
[0.92, 0.83, 0.91, 0.77, 0.99, 0.61, 0.88, 0.76, 0.75, 0.51]

In [ ]:
scores = model_scores1
scores = model_scores2
length = len(scores)
index = length // 2

if length % 2:
    median_val =  sorted(scores)[index]
else:   
    median_val = (sorted(scores)[index] + sorted(scores)[index-1]) / 2

print(median_val)

0.8

# 반복문(loop)
- 반복적으로 코드를 수행할떄 사용

## `while`
- 조건이 참(True)인 동안 반복
- 무한 반복 주의!!

```python
while <condition>:
    code context
```

- 3단 출력해보기

In [ ]:
n = 3 # 3단
i = 1 #곱하는 수 1~9 증가

while i < 10: # i(곱하는수가) 10 보다 작으면 반복해라
    print(f"{n}X{i} = {n*i}")
    i += 1 # i = i + 1

3X1 = 3
3X2 = 6
3X3 = 9
3X4 = 12
3X5 = 15
3X6 = 18
3X7 = 21
3X8 = 24
3X9 = 27

In [ ]:
#n = 3 # 3단
#i = 0 #곱하는 수 1~9 증가
#while i < 10: # i(곱하는수가) 10 보다 작으면 반복해라
#   i += 1
#   print(f"{n}X{i} = {n*i}")

- `break` : 해당 반복문을 빠져 나온다.

In [ ]:
n = 9
i = 1
while True:
    print(f"{n}x{i}={n*i}")
    i+= 1

    if i > 9:
        break

9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81

- continue
    - 진행을 중단하고 다음 반복으로 넘어간다.

In [ ]:
n = 3
i = 1
while i < 10:
    if i % 2 != 0:
        i += 1
        continue
        
    print(f"{n}X{i} = {n*i}")
    i += 1

3X2 = 6
3X4 = 12
3X6 = 18
3X8 = 24

In [ ]:
fruits = {'사과': 'Apple', '바나나': 'Banana', '딸기': 'Strawberry'}
while True:
        word = input("과일단어 입력: ")
        word = fruits.get(word)
        if word :
            print(word)
            break
        else:
            print("사전에 없습니다 다시입력")

과일단어 입력: 바나나
Banana

```
다음과 같이 학습에 사용할 나이 데이터가 리스트에 담겨있따.
age_list = [20,42,None,30,25,None,27,50,60]
None 값들은 결측치
None 값을 제외한 나이값들의 평균 구하시오.

In [ ]:
age_list = [20,42,None,30,25,None,27,50,60]
age_list

[20, 42, None, 30, 25, None, 27, 50, 60]

In [ ]:
index = len(age_list)

tmp = [ ]

while index:
    index -= 1
    if age_list [index] is not None:
        tmp.append(age_list[index])

avg = sum(tmp) / len(tmp)
avg = int(avg)
avg

36

구한 평균 값으로 age_list 의 결측치(None)을 채우세요.

In [ ]:
index = len(age_list)
while index:
    index -= 1
    if age_list[index] is None:
        age_list[index] = avg
age_list

[20, 42, 36, 30, 25, 36, 27, 50, 60]

- 중첩 while문도 가능

In [ ]:
i = 1
while i < 3:
    print(f"{i}번쨰 바깥쪽 while문 입니다.")
    i += 1

    j = 1
    while j < 6:
        print(f"    {j}번째 안쪽 while문 입니다.")
        j += 1

1번쨰 바깥쪽 while문 입니다.
    1번째 안쪽 while문 입니다.
    2번째 안쪽 while문 입니다.
    3번째 안쪽 while문 입니다.
    4번째 안쪽 while문 입니다.
    5번째 안쪽 while문 입니다.
2번쨰 바깥쪽 while문 입니다.
    1번째 안쪽 while문 입니다.
    2번째 안쪽 while문 입니다.
    3번째 안쪽 while문 입니다.
    4번째 안쪽 while문 입니다.
    5번째 안쪽 while문 입니다.

In [ ]:
n = 1
while n < 9:
    print(f"{n+1}단입니다.")
    n += 1

    i = 1
    while i < 10:
        print(f"    {n}X{i} = {n*i}")
        i += 1

2단입니다.
    2X1 = 2
    2X2 = 4
    2X3 = 6
    2X4 = 8
    2X5 = 10
    2X6 = 12
    2X7 = 14
    2X8 = 16
    2X9 = 18
3단입니다.
    3X1 = 3
    3X2 = 6
    3X3 = 9
    3X4 = 12
    3X5 = 15
    3X6 = 18
    3X7 = 21
    3X8 = 24
    3X9 = 27
4단입니다.
    4X1 = 4
    4X2 = 8
    4X3 = 12
    4X4 = 16
    4X5 = 20
    4X6 = 24
    4X7 = 28
    4X8 = 32
    4X9 = 36
5단입니다.
    5X1 = 5
    5X2 = 10
    5X3 = 15
    5X4 = 20
    5X5 = 25
    5X6 = 30
    5X7 = 35
    5X8 = 40
    5X9 = 45
6단입니다.
    6X1 = 6
    6X2 = 12
    6X3 = 18
    6X4 = 24
    6X5 = 30
    6X6 = 36
    6X7 = 42
    6X8 = 48
    6X9 = 54
7단입니다.
    7X1 = 7
    7X2 = 14
    7X3 = 21
    7X4 = 28
    7X5 = 35
    7X6 = 42
    7X7 = 49
    7X8 = 56
    7X9 = 63
8단입니다.
    8X1 = 8
    8X2 = 16
    8X3 = 24
    8X4 = 32
    8X5 = 40
    8X6 = 48
    8X7 = 56
    8X8 = 64
    8X9 = 72
9단입니다.
    9X1 = 9
    9X2 = 18
    9X3 = 27
    9X4 = 36
    9X5 = 45
    9X6 = 54
    9X7 = 63
    9X8 = 72
    9X9 = 81

## `for` 
- 반복 가능(iterable)한 객체를 더이상 꺼낼수 없을때까지 반복한다.
- `list`, `tutple`, `set`, `dict`, `srt`
```python
for <variable> in <iterable>:
    code context
```

In [ ]:
lst = [1,2,3,4]
for item in lst:
    print(item ** 2)

1
4
9
16

In [ ]:
n = 9
lst = [1,2,3,4,5,6,7,8,9,]
for i in lst:
    print(f"{n}X{i} = {n*i}")

9X1 = 9
9X2 = 18
9X3 = 27
9X4 = 36
9X5 = 45
9X6 = 54
9X7 = 63
9X8 = 72
9X9 = 81

```
for문과 조건문을 이용하여 다음의 리스트에서 음수만 출력하세요
lst = [-2,1,4,-88,12,-12]
```

In [ ]:
lst = [-2,1,4,-88,-12,-12]
for i in lst:
    if i < 0:
        print(i)

-2
-88
-12
-12

```
for문과 조건문을 사용하여 다음의 리스트에서 3의 배수만을 출력
lst = [3,33,100,23,81,44]
```

In [ ]:
lst = [3,33,100,23,81,44]
for i in lst:
    if i % 3 == 0:
        print(i)

3
33
81

```
다음의 리스트에서 50미만의 3의 배수만 출력
lst = [3,33,100,23,81,44]
```

In [ ]:
lst = [3,33,100,23,81,44]
for i in lst:
    if i % 3 == 0 and i < 50:
        print(i)

3
33

```
다음과 같이 리스트에 동물 이름이 있다. 첫글자를 대문자로 변경해서 출력하세요
lst = ["dog","cat","rabbit"]
```

In [ ]:
lst = ["dog","cat","rabbit"]   
for i in lst:
      print(i[0].upper()+i[1:])

Dog
Cat
Rabbit

```
다음과 같이 이메일 리스트에 담겨 있다. for문과 문자열 메소드를 이용하여 아이디만 출력해라.

email_list = ["user1004@gmail.com","user100@naver.com","user1@gmail.com","user14@hanmail.net"]
```

In [ ]:
email_list = ["user1004@gmail.com","user100@naver.com","user1@gmail.com","user14@hanmail,net"]
for i in emaill_list:
    i=i.split('@')
    print(i[0])

user1004
user100
user1
user14

```
gmail 해당하는 이메일 주소만 출력
email_list = ["user1004@gmail.com","user100@naver.com","user1@gmail.com","user14@hanmail.net"]
```

In [ ]:
email_list = ["user1004@gmail.com","user100@naver.com","user1@gmail.com","user14@hanmail.net"]
for email in email_list:
    if email.endswith("gmail.com"):
        print(email)

user1004@gmail.com
user1@gmail.com

### `range` 함수
- 특정 구간의 숫자의 범위를 만들어주는 함수
- 슬라이싱 기법을 이용해서 숫자의 범위를 만들어준다.
- 파이썬의 range 라는 숫자의 범위를 가진 iterable한 특수한 객체를 반환
- for문과 정말 같이 자주 사용된다.

In [ ]:
range(0,10) # 숫자 0~9까지 순차적으로 뽑겠다는 말이다.

range(0, 10)

In [ ]:
range(10) # start값을 생략해도됨 range(0,10)같음

range(0, 10)

In [ ]:
type(range(0,10))

range

In [ ]:
list(range(2,11,2))

[2, 4, 6, 8, 10]

In [ ]:
range(10,0,-1)

range(10, 0, -1)

In [ ]:
n = 9
for i in range(1,10):
    print(f"{n} X {i} = {n*i}")

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

```
for 와 range 함수를 사용해서 1~40까지 숫자들 중에서 4의 배수만 출력해보세요.
```

In [ ]:
for i in range(1,41):
    if i % 4 == 0:
        print(i)

4
8
12
16
20
24
28
32
36
40

In [ ]:
for i in range(40,3,-4):
    print(i)

40
36
32
28
24
20
16
12
8
4

In [ ]:
sum_value = 0
for i in range(1,11):
    sum_value += i
sum_value

55

In [ ]:
for i in range(6,0,-1):
    for j in range(i):
        print(i, end='')
    print()

666666
55555
4444
333
22
1

In [ ]:
### 중첩 `for` 문

In [ ]:
for n in range(2,10):
    print(f"{n} 단 입니다.")
    for i in range(1,10):
        print(f"{n} X {i} = {n*i}")

2 단 입니다.
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 단 입니다.
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 단 입니다.
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 단 입니다.
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 단 입니다.
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 단 입니다.
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 단 입니다.
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 단 입니다.
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
print("출력후 자동 줄바꿈이 되는 이유는?")
print("뭘까?")

출력후 자동 줄바꿈이 되는 이유는?
뭘까?

In [ ]:
print?

In [ ]:
print()
print()
print()

In [ ]:
print(end=" ")
print(end=" ")
print(end=" ")

```
*
**
***
****
*****
```

In [ ]:
for i in range(1,6):
    print("*" * i)

*
**
***
****
*****

In [ ]:
n = 5
for i in range(n):
    for j in range(i+1):
        print("*", end="")
    print()

*
**
***
****
*****

```
    *
   **
  ***
 ****  
*****
```

In [ ]:
n = 5
for i  in range(n):
    # 공백 for문
    for _ in range(n-i-1):
        print(" ", end="")
    # 별 for 문
    for _ in range(i+1):
        print("*", end="")
    print() # 줄바꿈

    *
   **
  ***
 ****
*****

```
*****
 ****
  ***
   **
    *
```

In [ ]:
n = 5
for i  in range(n):
    # 공백 for문
    for _ in range(i):
        print(" ", end="")
    # 별 for 문
    for _ in range(n-i):
        print("*", end="")
    print() # 줄바꿈

*****
 ****
  ***
   **
    *

In [ ]:
for i in range(1,10):
    for n in range (2,10):
        print(f"{n} X {i} = {n*i}" ,end="\t")
    print()

2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5	6 X 1 = 6	7 X 1 = 7	8 X 1 = 8	9 X 1 = 9
2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10	6 X 2 = 12	7 X 2 = 14	8 X 2 = 16	9 X 2 = 18
2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15	6 X 3 = 18	7 X 3 = 21	8 X 3 = 24	9 X 3 = 27
2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20	6 X 4 = 24	7 X 4 = 28	8 X 4 = 32	9 X 4 = 36
2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25	6 X 5 = 30	7 X 5 = 35	8 X 5 = 40	9 X 5 = 45
2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30	6 X 6 = 36	7 X 6 = 42	8 X 6 = 48	9 X 6 = 54
2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35	6 X 7 = 42	7 X 7 = 49	8 X 7 = 56	9 X 7 = 63
2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40	6 X 8 = 48	7 X 8 = 56	8 X 8 = 64	9 X 8 = 72
2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45	6 X 9 = 54	7 X 9 = 63	8 X 9 = 72	9 X 9 = 81

- 각 학생들의 평균과의 점수 차이인 편차를 알고 싶다면?

In [ ]:
scores = [90,81,65,77,98,70,82]
avg = sum(scores) / len(scores)
for score in scores:
    deviataion = avg - score #편차
    print(deviataion)

-9.57142857142857
-0.5714285714285694
15.42857142857143
3.4285714285714306
-17.57142857142857
10.42857142857143
-1.5714285714285694

- 편차의 평균인 표준편차를 구해보자.

In [ ]:
scores = [90,81,65,77,98,70,82]
avg = sum(scores) / len(scores)
deviataion_list =[]
for score in scores:
    deviataion = avg - score
    deviataion_list.append(deviataion**2)

var = sum(deviataion_list) / len(deviataion_list)
var # 분산

108.81632653061224

In [ ]:
var ** 0.5 # 표준편차

10.431506436302104

- Min-Max Scaling
    - 데이터의 수치의 범위를 바꿔주는 정규화 스케일링 기법이다.
    - 데이터의 범위를 0~1 사이로 바꿔준다.
```
나이데이터 =[20,30,60,65,38,63]
연봉데이터 = [3000,3500,4000,9000,8000,12000]
```

In [ ]:
lst = [20,30,60,65,38,63]
minmax = [] # 스케일링을 적용할 데이터를 넣어주면 됩니다.

In [ ]:
lst = [20,30,60,65,38,63]
minmax = [] # 스케일링을 적용할 데이터를 넣어주면 됩니다.

min_value=min(lst)
size_value = max(lst) - min_value
for i in lst:
    i = (i - min_value / size_value)
    minmax.append(i)
minmax

[19.555555555555557,
 29.555555555555557,
 59.55555555555556,
 64.55555555555556,
 37.55555555555556,
 62.55555555555556]

In [ ]:
for i in minmax:
    i = i * size_value + min_value
    print(i)

-주어진 데이터에서 최빈값을 구하시오
```
grades = ["A-","A" ,"A+","B","A","A","A+","A-","B","B","B","C+","C","C+","C"]
```

In [ ]:
grades = ["A-","A" ,"A+","B","A","A","A+","A-","B","B","B","C+","C","C+","C"]   

cnt = 0 # 값의 개수를 체크 하기 위한 용도
for s in set(grades) : # set 을 이용하여 중복제거, 비효율적인 반복을 방지
    if cnt < grades.count(s): # g 변수의 개수가 cnt 변수보다 크면 최빈값
        cnt = grades.count(s) # 현대 최대 빈도수 cnt에 업데이트
        mode = s #최빈값 mode 변수에 저장
print(mode)

B

- 문자열도 iterable(반복가능)하다.

In [ ]:
text = "Hello word"
for s in text:
    print(s)

H
e
l
l
o

w
o
r
d

In [ ]:
text = "Hello word"
cnt = 0 
for s in text:
    if s == "l":
        cnt += 1 
print(cnt)

2

### `enumerate` 함수 
- iterable한 객체를 꺼낼때 인덱스도 같이 꺼낸다.

In [ ]:
score_list = [90,87,93]
i = 0
for score in score_list:
    print(f"{i}번째 인덱스의 점수는{score}")
    i += 1

0번째 인덱스의 점수는90
1번째 인덱스의 점수는87
2번째 인덱스의 점수는93

In [ ]:
for i,score in enumerate(score_list):
    print(f"{i}번째 인덱스의 점수는 {score}")

0번째 인덱스의 점수는 90
1번째 인덱스의 점수는 87
2번째 인덱스의 점수는 93

In [ ]:
list(enumerate(score_list))

[(0, 90), (1, 87), (2, 93)]

In [ ]:
dict(enumerate(score_list))

{0: 90, 1: 87, 2: 93}

### `zip` 함수
- 여러개의 컬렉선 자료형을 하나로 모아서 병렬로 꺼낸다.

In [ ]:
class_list = ["A반","B반","C반"]
score_list = [90,87,93]

length = len(class_list)
for i in range(length):
    print(f"{class_list[i]}의 점수는 {score_list[i]}점 입니다.")

A반의 점수는 90점 입니다.
B반의 점수는 87점 입니다.
C반의 점수는 93점 입니다.

In [ ]:
for c,s in zip(class_list,score_list):
    print(f"{c}의 점수는 {s}점")

A반의 점수는 90점
B반의 점수는 87점
C반의 점수는 93점

In [ ]:
score_list2 = [70,50,63]
for c, s, s2 in zip(class_list, score_list, score_list2):
    print(f"{c} {s} {s2}")

A반 90 70
B반 87 50
C반 93 63

In [ ]:
zip(class_list,score_list)

In [ ]:
list(zip(class_list,score_list))

[('A반', 90), ('B반', 87), ('C반', 93)]

In [ ]:
dict(zip(class_list,score_list))

{'A반': 90, 'B반': 87, 'C반': 93}

In [ ]:
lst1 = [10,20,30,40,50,60]
lst2 = ["A","B","C"]

for item1, item2 in zip(lst1,lst2):
    print(item1,item2)

10 A
20 B
30 C

### `dict for`문

In [ ]:
score_dict = {
    "국어":100,
    "수학":80,
    "영어":65
}

score_dict.keys()

dict_keys(['국어', '수학', '영어'])

In [ ]:
for k in score_dict.keys():
    print(f"{k}는 {score_dict[k]}점")

국어는 100점
수학는 80점
영어는 65점

In [ ]:
for value in score_dict.values():
    print(f"{value}")

100
80
65

In [ ]:
score_dict.items()

dict_items([('국어', 100), ('수학', 80), ('영어', 65)])

In [ ]:
for k , v in score_dict.items():
    print(f"{k}는 {v}점")

국어는 100점
수학는 80점
영어는 65점

In [ ]:
sale = { '연필' : 500, '공책':1200, '신발':58000 }

In [ ]:
for k,v in sale.items():
    print(f"{k} 20% 할인가격 {v * 0.8 }원 ")

연필 20% 할인가격 400.0원
공책 20% 할인가격 960.0원
신발 20% 할인가격 46400.0원

# 파이써닉(pythonic)한 코드
- 긴결하고 가독성 있게 코딩하자.

## 삼항 연산자
- 파이썬이 아닌 다른 언어들은 삼항연산자(?)가 존재하지만. 파이썬은 없다!
- `if`, `else`를 사용하여 삼항연산 수행

```python
<True 일 때 사용할 값> if <condition> else <False일 때 사용할 값>
```

In [ ]:
age = 20
if age >= 20:
    msg = " 회원가입 가능"
else:
    msg = " 회원가입 불가능"
print(msg)

 회원가입 가능

In [ ]:
age = 19
msg = "회원가입 가능" if age >=20 else "회원가입 불가능"
print(msg)

회원가입 불가능

In [ ]:
if age >= 20: msg = "회원가입가능"

In [ ]:
for i in range(3) : print(i)

0
1
2

## 컴프리헨션(Comprehension)
- 반복 가능한 객체를 활용해서 새로운 반복가능한 객체를 만들때 유용하다.
- `list`, `set`, `dict` 자료형을 간단하게 만드는 문법
- `tutple`은 컴프리헨션 지원 안함.

list comprehension
```pyhon
[<추가할 값> for <변수> in <컬렉션> if <값에대한 조건>]  if 생략가능
```

In [ ]:
result = []
for data in range(1,6) :
    result.append(data ** 2 )
result

[1, 4, 9, 16, 25]

In [ ]:
result =[data **2 for data in range(1,6)]
result

[1, 4, 9, 16, 25]

In [ ]:
num_list = list(range(1,21))
num_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
result = [num for num in num_list if num % 2 == 0]
result

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
result = [num**2 if num % 2 == 0 else num for num in num_list ]
result

[1,
 4,
 3,
 16,
 5,
 36,
 7,
 64,
 9,
 100,
 11,
 144,
 13,
 196,
 15,
 256,
 17,
 324,
 19,
 400]

In [ ]:
[f"{n} X {i} = {n*i}"for n in range(2,10) for i in range(1,10)]

['2 X 1 = 2',
 '2 X 2 = 4',
 '2 X 3 = 6',
 '2 X 4 = 8',
 '2 X 5 = 10',
 '2 X 6 = 12',
 '2 X 7 = 14',
 '2 X 8 = 16',
 '2 X 9 = 18',
 '3 X 1 = 3',
 '3 X 2 = 6',
 '3 X 3 = 9',
 '3 X 4 = 12',
 '3 X 5 = 15',
 '3 X 6 = 18',
 '3 X 7 = 21',
 '3 X 8 = 24',
 '3 X 9 = 27',
 '4 X 1 = 4',
 '4 X 2 = 8',
 '4 X 3 = 12',
 '4 X 4 = 16',
 '4 X 5 = 20',
 '4 X 6 = 24',
 '4 X 7 = 28',
 '4 X 8 = 32',
 '4 X 9 = 36',
 '5 X 1 = 5',
 '5 X 2 = 10',
 '5 X 3 = 15',
 '5 X 4 = 20',
 '5 X 5 = 25',
 '5 X 6 = 30',
 '5 X 7 = 35',
 '5 X 8 = 40',
 '5 X 9 = 45',
 '6 X 1 = 6',
 '6 X 2 = 12',
 '6 X 3 = 18',
 '6 X 4 = 24',
 '6 X 5 = 30',
 '6 X 6 = 36',
 '6 X 7 = 42',
 '6 X 8 = 48',
 '6 X 9 = 54',
 '7 X 1 = 7',
 '7 X 2 = 14',
 '7 X 3 = 21',
 '7 X 4 = 28',
 '7 X 5 = 35',
 '7 X 6 = 42',
 '7 X 7 = 49',
 '7 X 8 = 56',
 '7 X 9 = 63',
 '8 X 1 = 8',
 '8 X 2 = 16',
 '8 X 3 = 24',
 '8 X 4 = 32',
 '8 X 5 = 40',
 '8 X 6 = 48',
 '8 X 7 = 56',
 '8 X 8 = 64',
 '8 X 9 = 72',
 '9 X 1 = 9',
 '9 X 2 = 18',
 '9 X 3 = 27',
 '9 X 4 = 36',
 '9 X 5 = 45',
 '9 X 6 = 54',
 '9 X 7 = 63',
 '9 X 8 = 72',
 '9 X 9 = 81']

In [ ]:
%%timeit
lst = []
for data in range(1,100000):
    lst.append(data)

100 loops, best of 5: 8.7 ms per loop

In [ ]:
%%timeit
lst =[data for data in range(1,100000)]

The slowest run took 6.42 times longer than the fastest. This could mean that an intermediate result is being cached.
100 loops, best of 5: 5 ms per loop

```
s_list = []
for w in `Python`:
    s_list.append(w)
s_list
```

In [ ]:
s_list=[w for w in 'python']
print(s_list)

['p', 'y', 't', 'h', 'o', 'n']

```
lib_list = ["pandas","numpy","sklearn","pytorch"]
lst = []
for i ,v in enumerate(lib_list):
    lst.append((i,v))
lst

In [ ]:
lib_list = ["pandas","numpy","sklearn","pytorch"]
lst = [(i,v) for i,v in enumerate(lib_list)]
print(lst)

[(0, 'pandas'), (1, 'numpy'), (2, 'sklearn'), (3, 'pytorch')]

```
n_list = []
for x in zip((1,2,3),(10,20,30,),(100,200,300)):
    n_list.append(sum(x))
```

In [ ]:
n_list = [sum(x) for x in zip((1,2,3),(10,20,30,),(100,200,300))]
print(n_list)

[111, 222, 333]

In [ ]:
n_list= [i  for i in range(100) if i % 10 == 0]
print(n_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
s_list = [ "짝수" if i % 2 == 0 else "홀수"for i in range(1,11)]
s_list

['홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수']

In [ ]:
files = ["magage.py","run.exe" , "urls.py" ,"run.bat" ,"image.jpg"]
[f for f in files if f.endswith(".py") or f.endswith(".exe")]

['magage.py', 'run.exe', 'urls.py']

In [ ]:
lst = [
       [1,2,3],
       [4,5,6],
       [7,8,9]

]
[i[1] for i in lst ]

[2, 5, 8]

In [ ]:
age_list = [20,42,None,30,25,None,27,50,60]
tmp = [age  for age in age_list if age is not None ]
avg = sum(tmp)/len(tmp)
avg

36.285714285714285

구한 평균이로 컴프리헨션을 이용해서 결측치를 채운 리스트 생성

In [ ]:
[age if age is not None else avg for age in age_list]

[20, 42, 36.285714285714285, 30, 25, 36.285714285714285, 27, 50, 60]

In [ ]:
pred_list = [0,1,0,0,0,1,0,0,0,1]
label_list = [0,1,0,1,0,1,0,1,0,1]

answer = [a for a,b in zip(pred_list, label_list)if a == b]
accuracy = len(answer)/len(label_list)
accuracy

0.8

In [ ]:
pred_list  = [0,1,0,0,0,1,0,0,0,1]
label_list = [0,1,0,1,0,1,0,1,0,1]
tmp = ["T" if  i[0] == i[1] else "F" for i in zip(pred_list,label_list)]
tmp.count("T")

8

In [ ]:
acc = [int(pred==label)for pred,lable in zip(pred_list,label_list)]
acc = sum(acc) / len(label_list)
acc

NameError: ignored

- set comprehension

In [ ]:
a = {data for data in range(1,6)}
a

{1, 2, 3, 4, 5}

dict comprehension

In [ ]:
a = {"아침","점심","저녁"}
b ={"샌드위치","유부초밥","피자"}

result = {meal:food for meal,food in zip(a,b)}
result

{'아침': '피자', '저녁': '유부초밥', '점심': '샌드위치'}

In [ ]:
dict(zip(a,b))

{'아침': '피자', '저녁': '유부초밥', '점심': '샌드위치'}

In [ ]:
result = {f"{meal}시간": food for meal, food in zip(a,b)}
result

{'아침시간': '피자', '저녁시간': '유부초밥', '점심시간': '샌드위치'}

In [ ]:
{meal : food for meal, food in zip(a,b) if meal != "점심"}

{'아침': '피자', '저녁': '유부초밥'}

In [ ]:
text = "Hello Python"
result = {char : text.count(char) for char in set(text)}
result

{' ': 1,
 'H': 1,
 'P': 1,
 'e': 1,
 'h': 1,
 'l': 2,
 'n': 1,
 'o': 2,
 't': 1,
 'y': 1}

인구가 30만 이상의 구만  dict로 만드세요
```
population = {
    "종로구" : 149384,
    "중구" : 125240,
    "용산구": 230040,
    "성동구": 293556,
    "광진구":346682,
    "동대문구":342837,
    "중랑구":394702,
    "성북구":437153,
    "강북구":308055,
    "도봉구":325257,
    "노원구":523037,
    "은평구":479835
 }
```

In [ ]:
population = {
    "종로구" : 149384,
    "중구" : 125240,
    "용산구": 230040,
    "성동구": 293556,
    "광진구":346682,
    "동대문구":342837,
    "중랑구":394702,
    "성북구":437153,
    "강북구":308055,
    "도봉구":325257,
    "노원구":523037,
    "은평구":479835
 }

In [ ]:
{k:v for k,v in population.items() if v >= 300000}

{'강북구': 308055,
 '광진구': 346682,
 '노원구': 523037,
 '도봉구': 325257,
 '동대문구': 342837,
 '성북구': 437153,
 '은평구': 479835,
 '중랑구': 394702}

```
인구수가 30만 넘는 구의 인구수 합을 구하시오.
```

In [ ]:
population = {
    "종로구" : 149384,
    "중구" : 125240,
    "용산구": 230040,
    "성동구": 293556,
    "광진구":346682,
    "동대문구":342837,
    "중랑구":394702,
    "성북구":437153,
    "강북구":308055,
    "도봉구":325257,
    "노원구":523037,
    "은평구":479835
 }

In [ ]:
lst = [ v for v in population.values()]
sum(lst)

TypeError: ignored

In [ ]:
text = "#안녕#파이썬#파이썬#최고#파이썬#안녕"

{word:text.count(word) for word in text.split("#")[1:]}

{'안녕': 2, '최고': 1, '파이썬': 3}